{# @pebvariable name="userPermissions" type="smithereen.model.UserPermissions" #}
<div class="tabbar">
	{% if userPermissions.hasPermission('MANAGE_SERVER_SETTINGS') %}
	<a href="/settings/admin" class="{% if tab=='general' %}selected{% endif %}">{{L('profile_edit_basic')}}</a>
	{% endif %}
	{% if userPermissions.hasPermission('MANAGE_SERVER_SETTINGS') %}
	<a href="/settings/admin/other" class="{% if tab=='other' %}selected{% endif %}">{{L('admin_other')}}</a>
	{% endif %}
</div>