<p>
	{{ L("admin_ban_X_confirm", {'name': targetAccount.user.firstLastAndGender}) }}
</p>
<textarea name="message" placeholder="{{ L('ban_reason') }}" style="width: 100%; box-sizing: border-box; resize: vertical;" rows="3"></textarea>
