<p>
	{{ LI(key="admin_ban_X_confirm", first=targetAccount.user.firstName, last=targetAccount.user.lastName, gender=targetAccount.user.gender) }}
</p>
<textarea name="message" placeholder="{{ L('ban_reason') }}" style="width: 100%; box-sizing: border-box; resize: vertical;" rows="3"></textarea>
