<div class="tabbar">
	<a href="/settings/admin" class="{% if tab=='general' %}selected{% endif %}">{{L('profile_edit_basic')}}</a>
	<a href="/settings/admin/users" class="{% if tab=='users' %}selected{% endif %}">{{L('admin_users')}}</a>
	<a href="/settings/admin/other" class="{% if tab=='other' %}selected{% endif %}">{{L('admin_other')}}</a>
</div>