{# @pebvariable name="provider" type="smithereen.model.fasp.FASPProvider" #}
<p>{{ L('admin_fasp_capabilities_explanation', {'host': provider.baseUrl.host}) }}</p>
{% include "admin_fasp_capabilities_inner" %}