<div class="marginAfter">{{ L('action_confirmation_text', {'maskedEmail': maskedEmail, 'action': L(action)}) }}</div>
<div style="text-align: center">
	<input type="text" name="code" style="width: 100px; text-align: center" required/>
</div>