<div class="tabbar">
	<a href="/my/events" class="{% if tab=="events" %}selected{% endif %}">{{ L('events_upcoming') }}</a>
	<a href="/my/events/past" class="{% if tab=="past" %}selected{% endif %}">{{ L('events_past') }}</a>
	<a href="/my/events/calendar" class="{% if tab=="calendar" %}selected{% endif %}">{{ L('events_calendar') }}</a>
	<a href="/my/events/create" class="aux" data-ajax-box="1">{{ L('create_event') }}</a>
</div>
