<div class="tabbar">
	<a class="{{ tab=='news' ? 'selected' : '' }}" href="/feed">{{ L('feed_tab_news') }}</a>
	<a class="{{ tab=='comments' ? 'selected' : '' }}" href="/feed/comments">{{ L('feed_tab_comments') }}</a>
</div>