<div class="tabbar">
	<a href="/my/groups" class="{%if tab=="groups"%}selected{%endif%}">{{L('groups')}}</a>
	<a href="/my/groups/management" class="{%if tab=="management"%}selected{%endif%}">{{L('groups_management')}}</a>
	<a href="/my/groups/create" class="aux" data-ajax-box="1">{{ L('create_group') }}</a>
</div>
