{% extends "page" %}
{% block content %}
<div class="singleColumn singleColumnLargerPadding">
	<h2>{{ L('privacy_policy') }}</h2>
	<div class="textByItself">{{ privacyPolicy | raw }}</div>
</div>
{% endblock %}
