{% import "forms" as form %}
<p>{{ L('settings_request_export_password_explanation') }}</p>
{{ form.start("requestExport") }}
	{{ form.textInput('password', L('password'), email, {'type': 'password', 'required': true}) }}
{{ form.end() }}
