<p>{{L("sending_friend_req_to_X", targetUser.fullName)}}</p>
<textarea name="message" placeholder="{{L('add_optional_message')}}" style="width: 100%; box-sizing: border-box; resize: vertical;" rows="3"></textarea>