<div class="tabbar">
	<a class="{{ tab=='general' ? "selected" : "" }}" href="/settings/">{{ L('settings_general') }}</a>
	<a class="{{ tab=='blocking' ? "selected" : "" }}" href="/settings/blocking">{{ L('settings_blocking') }}</a>
</div>