body, p, textarea, input{
	font-family: Tahoma, Helvetica, Arial, Roboto, sans-serif;
	font-size: 11px;
}

body{
	background: #FFFFFF;
	margin: 0;
}

table{
	table-layout: fixed;
}

a, a:link, a:visited{
	color: #99a22a;
	text-decoration: none;
}

a:hover, a:visited:hover{
	text-decoration: underline;
}

h2{
	color: #889026;
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	padding-bottom: 2px;
	border-bottom: solid 1px #dfe59a;
}

.header{
	color: #FFFFFF;
	height: 48px;
	padding: 0 12px;
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}

.header .logo{
		margin-top: 4px;
	}

.header a.nav{
		color: #FFFFFF;
		font-weight: bold;
		display: inline-block;
		line-height: 48px;
		height: 48px;
		padding: 0 8px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	}

.header a.nav:hover, .header a.nav:visited:hover{
		text-decoration: none;
		background: rgba(0, 0, 0, .2);
	}

.headerBG{
	background-color: #aab42f;
	background: linear-gradient(to bottom, #889026, #99a22a 7%, #aab42f 70%);
	border-bottom: solid 1px #889026;
	box-shadow: 0 -1px 0 #d2da71 inset;
	height: 48px;
	width: 100%;
	min-width: 1280px;
}

.leftMenu{
	padding: 12px;
}

.leftMenu input{
		width: 100%;
		box-sizing: border-box;
		margin: 4px 0;
	}

.actionList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.actionList a{
		display: block;
		line-height: 24px;
		padding-left: 6px;
	}

.actionList a:hover, .actionList a:visited:hover{
		text-decoration: none;
		background: #f2f5d6;
		box-shadow: 0 1px 0 #ecefc2 inset;
	}


#elevator{
	position: fixed;
	width: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.contentWrap{
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
}

.pageContent{
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.wrap{
	padding-left: 60px;
	margin-top: -49px;
}

.profileBlock{
	border-collapse: collapse;
}

.profileBlock .blockHeader{
		text-align: left;
		height: 24px;
		padding: 0 6px;
		box-shadow: 0 1px 0 #c5d049 inset;
		background: #dfe59a;
	}

.profileBlock .blockHeader a{
			color: #889026;
		}

.profileBlock .blockSubheader{
		height: 24px;
		background: #F7F7F7;
		color: #707070;
		padding: 0 6px;
	}

.columnLayout, .singleColumn, .profileBlock .padded{
	padding: 8px;
}

.leftNarrow #right{
	padding-left: 8px;
}

.marginAfter{
	margin-bottom: 8px;
}

.ava{
	border-radius: 4px;
	vertical-align: middle;
}

.avaPlaceholder{
	display: inline-block;
	background: #DDDDDD;
	vertical-align: top;
	margin: 0;
}

.membersRow td{
	padding-top: 8px;
	font-size: 10px;
}

.post{
	padding-bottom: 8px;
	border-bottom: solid 1px #ecefc2;
	margin-bottom: 8px;
	border-spacing: 0;
}

.post .authorName{
		font-weight: bold;
	}

.post p{
		margin-top: 8px;
		margin-bottom: 8px;
		overflow-y: hidden;
	}

.post p:first-child{
		margin-top: 0;
	}

.post p:last-child{
		margin-bottom: 0;
	}

.post .postContentWrap{
		padding: 0 8px;
	}

.postContent{
	padding-top: 4px;
	word-wrap: break-word;
}

.postInfo, .postLink:link, .postLink:visited{
	padding-top: 4px;
	font-size: 10px;
	color: #909090;
}

.commentsPreviewWrap{
	padding-left: 58px;
}

.comment{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.comment .replies{
		padding-top: 8px;
	}

.gray{
	background: #F7F7F7;
}

.profileFields{
	margin: 8px;
}

table.profileFields td{
	vertical-align: top;
}

.profileFields .label{
	color: #909090;
	width: 30%;
}

.wallPostForm textarea{
	width: 100%;
	max-width: 100%;
	resize: vertical;
	box-sizing: border-box;
}

.notMuchContent{
	padding: 64px 16px;
}

.notMuchContent p{
		margin-top: 0;
		margin-bottom: 16px;
	}

input[type=text], input[type=password], input[type=email], textarea{
	border: solid 1px #909090;
	border-radius: 2px;
	padding: 4px;
}

*:focus{
	outline: none;
}

input[type=submit], input[type=button], button, .button:link, .button:visited{
	background: linear-gradient(to bottom, #aab42f, #99a22a);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border: solid 1px #889026;
	border-radius: 2px;
	color: #FFFFFF;
	box-shadow: 0 1px 0 #c5d049 inset;
	cursor: pointer;
	padding: 0 10px;
	height: 24px;
	line-height: 22px;
	display: inline-block;
	box-sizing: border-box;
}

input[type=submit].loading, input[type=submit].loading:hover, input[type=button].loading, input[type=button].loading:hover, button.loading, button.loading:hover, .button:link.loading, .button:link.loading:hover, .button:visited.loading, .button:visited.loading:hover{
		background: url(/res/loader_overlay.svg), linear-gradient(to bottom, #aab42f, #99a22a);
	}

input[type=submit]:hover, input[type=button]:hover, .button:hover, .button:visited:hover{
	text-decoration: none;
	background: linear-gradient(to bottom, #b7c332, #a2ab2d);
	box-shadow: 0 1px 0 #c9d355 inset;
}

input[type=submit]:active, input[type=button]:active, .button:active, .button:visited:active{
	text-decoration: none;
	background: #889026;
	box-shadow: none;
}

input[type=submit].secondary, input[type=button].secondary, button.secondary, .button.secondary:link, .button.secondary:visited{
	background: linear-gradient(to bottom, #F7F7F7, #dedede);
	text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
	border: solid 1px #c6c6c6;
	color: #707070;
	box-shadow: 0 1px 0 #ffffff inset;
}

input[type=submit].secondary.loading, input[type=submit].secondary.loading:hover, input[type=button].secondary.loading, input[type=button].secondary.loading:hover, button.secondary.loading, button.secondary.loading:hover, .button.secondary:link.loading, .button.secondary:link.loading:hover, .button.secondary:visited.loading, .button.secondary:visited.loading:hover{
		background: url(/res/loader_overlay.svg), linear-gradient(to bottom, #F7F7F7, #dedede);
	}

input[type=submit].secondary:hover, input[type=button].secondary:hover, .button.secondary:hover, .button.secondary:visited:hover{
	text-decoration: none;
	background: linear-gradient(to bottom, #ffffff, #ebebeb);
	box-shadow: 0 1px 0 #ffffff inset;
}

input[type=submit].secondary:active, input[type=button].secondary:active, .button.secondary:active, .button.secondary:visited:active{
	text-decoration: none;
	background: #c6c6c6;
	box-shadow: none;
}

::-webkit-input-placeholder{
	color: #909090;
}

::-moz-placeholder{
	color: #909090;
}

:-ms-input-placeholder{
	color: #909090;
}

::-ms-input-placeholder{
	color: #909090;
}

::placeholder{
	color: #909090;
}

.tabbar{
	border-bottom: solid 1px #99a22a;
	padding: 8px 8px 0 8px;
}

.tabbar a{
		display: inline-block;
		padding: 0 8px 0 8px;
		margin-right: 2px;
		border-radius: 4px 4px 0 0;
		line-height: 24px;
	}

.tabbar a:hover, .tabbar a:visited:hover{
		text-decoration: none;
		background: #f2f5d6;
	}

.tabbar a.selected, .tabbar .a.selected:hover, .tabbar a.selected:visited:hover{
		background: #99a22a;
		color: #FFFFFF;
	}

.friendsRow{
	padding-bottom: 8px;
	border-bottom: solid 1px #ecefc2;
	margin-bottom: 8px;
	border-spacing: 0;
}

.friendsRow .info{
		padding: 16px;
	}

.form{
	border-spacing: 0;
	width: 60%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

.form .label{
		text-align: right;
		color: #909090;
		vertical-align: top;
		padding: 4px 8px;
		width: 30%;
	}

.form tr:not(.footer) input{
		width: 100%;
		box-sizing: border-box;
	}

.form td{
		padding-bottom: 8px;
	}

.form .footer td{
		padding-top: 16px;
		border-top: solid 1px #ecefc2;
	}

.formExplanation{
	font-size: 10px;
	color: #909090;
}

#layerScrim, #layerContainer{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#layerScrim{
	background-color: rgba(0, 0, 0, .4);
}

#layerContainer{
	width: 100%;
	height: 100%;
}

.layerContent{
	overflow-y: scroll;
	max-height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.layerContent >div{
		margin: auto;
	}

@-webkit-keyframes boxAppear{
	0%{
		transform: scale(0.75);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes boxAppear{
	0%{
		transform: scale(0.75);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

.boxLayer{
	width: 500px;
	border-radius: 6px;
	overflow: hidden;
	-webkit-animation: boxAppear 0.3s;
	        animation: boxAppear 0.3s;
	box-shadow:
		0 1px 1.1px rgba(0, 0, 0, 0.028),
		0 2.3px 2.7px rgba(0, 0, 0, 0.04),
		0 4.4px 5px rgba(0, 0, 0, 0.05),
		0 7.8px 8.9px rgba(0, 0, 0, 0.06),
		0 14.6px 16.7px rgba(0, 0, 0, 0.072),
		0 35px 40px rgba(0, 0, 0, 0.1)
	;
}

.boxTitleBar{
	background: #aab42f;
	color: #FFFFFF;
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	font-size: 13px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding: 0 16px;
}

.boxButtonBar{
	height: 48px;
	background: #F7F7F7;
	border-top: solid 1px #dedede;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 12px;
}

.boxButtonBar >input{
		margin: 0 4px;
	}

.boxContent{
	padding: 16px;
	background: #FFF;
}

.settingsMessage{
	width: 60%;
	margin: 16px auto;
	border-radius: 8px;
	padding: 16px;
	border: solid 1px rgba(0, 0, 0, .1);
	background: #FFFFFF;
}

.profileBelowAva{
	background: #F7F7F7;
	border-bottom: solid 1px #DDDDDD;
	text-align: center;
	padding: 22px 16px 16px 16px;
	margin-top: -6px;
	color: #707070;
}

.profileBelowAva .button{
		width: 100%;
	}

.profileBelowAva .button.withText{
			margin-top: 8px;
		}

.pagination{
	padding: 8px;
	text-align: center;
}

.pagination a, .pagination span{
		padding: 8px;
	}

.pagination a:hover, .pagination a:visited:hover{
		text-decoration: none;
	}

.pagination .curPage{
		background: #aab42f;
		color: #FFFFFF;
	}

.pagination .page{
		border-bottom: solid 1px rgba(170, 180, 47, 0.3);
		padding-bottom: 7px;
		transition-property: border-bottom-color, border-bottom-width, padding-bottom;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}

.pagination .page:hover, .pagination .page:visited:hover{
			border-bottom-color: rgba(170, 180, 47, 0.7);
			border-bottom-width: 3px;
			padding-bottom: 5px;
		}

.notificationIcon{
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: -13px;
	position: absolute;
	top: 100%;
	left: 100%;
	box-shadow: rgba(0,0,0,20%) 0 2px 4px;
	background-repeat: no-repeat;
	background-position: center;
}

.notification .avaWrap{
	position: relative;
}

.notificationFollow .notificationIcon, .notificationInviteSignup .notificationIcon, .notificationFriendReqAccept .notificationIcon{
	background-color: #2979FF;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='%23FFF'%3E%3Cpolygon points='8 3 5 3 5 0 3 0 3 3 0 3 0 5 3 5 3 8 5 8 5 5 8 5 8 3'/%3E%3C/svg%3E");
}

.notificationLike .notificationIcon{
	background-color: #FF1744;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6.5' viewBox='0 0 8 6.5' fill='%23FFF'%3E%3Cpath d='M6,0A2,2,0,0,0,4.59.59L4,1.17,3.41.59A2,2,0,0,0,0,2,2.16,2.16,0,0,0,.72,3.43L3.65,6.36a.5.5,0,0,0,.71,0L7.27,3.44A2.19,2.19,0,0,0,8,2,2,2,0,0,0,6,0Z'/%3E%3C/svg%3E");
}

.notificationMention .notificationIcon{
	background-color: #4EBF4F;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='%23FFF'%3E%3Cpath d='M7.74,4.8l.06-.1a1.52,1.52,0,0,0,.11-.24l0-.1A1.34,1.34,0,0,0,8,4,4,4,0,1,0,4,8H6V7H4A3,3,0,1,1,7,4c0,.38-.68.91-1.75,1L6,2H4A2,2,0,0,0,4,6H5a4.18,4.18,0,0,0,1.4-.24h0a3.09,3.09,0,0,0,.87-.47l.09-.07.18-.16A1.91,1.91,0,0,0,7.74,4.8ZM4,5A1,1,0,0,1,4,3h.75l-.5,2Z'/%3E%3C/svg%3E");
}

.notificationPostOwnWall .notificationIcon, .notificationReply .notificationIcon{
	background-color: #4EBF4F;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='%23FFF'%3E%3Cpath d='M7.5,0H.5A.5.5,0,0,0,0,.5v5A.5.5,0,0,0,.5,6H2V7.5a.5.5,0,0,0,.85.35L4.71,6H7.5A.5.5,0,0,0,8,5.5V.5A.5.5,0,0,0,7.5,0Z'/%3E%3C/svg%3E");
}

.notificationRetoot .notificationIcon, .notificationRepost .notificationIcon{
	background-color: #4EBF4F;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='%23FFF'%3E%3Cpath d='M5,2H1A1,1,0,0,0,0,3V4A1,1,0,0,0,1,5H2V8H3V5H5L8,7V0Z'/%3E%3C/svg%3E");
}

