{%extends "page"%}
{%block content%}
{% include "feed_tabbar" with {'tab': tab | default('news')} %}
	<div class="cardsBackdrop">
		<div class="card">
		{%include "wall_post_form" with {'id': "feed"}%}
		</div>
<div id="postList">
{%for entry in feed%}
<div class="card">
	{% include "feed_row" with {'entry': entry} %}
</div>
{% else %}
<div class="emptyState" id="wallEmptyState">{{ L('feed_empty') }}</div>
{%endfor%}
	{% include "pagination" %}
</div>
	</div>
{%endblock%}
