<p>{{LI(key="sending_friend_req_to_X", first=targetUser.firstName, last=targetUser.lastName, gender=targetUser.gender)}}</p>
<textarea name="message" placeholder="{{L('add_friend_req_message')}}" style="width: 100%; box-sizing: border-box; resize: vertical;" rows="3"></textarea>