{% extends "page" %}
{% block content %}
{% include "settings_tabbar" with {'tab': 'privacy'} %}
{% for key in settingsKeys %}
	<a href="/settings/privacy/mobileEditSetting?key={{ key }}" class="privacySettingRow">
		{% include "privacy_setting_inner" with {'setting': privacySettings[key], 'label': L(key.descriptionLangKey), 'isOnlyMe': key.onlyMe} %}
	</a>
{% endfor %}
{% endblock %}
