{% if currentUser is not null and not isSelfBlocked %}
<div class="card">
{% include "wall_post_form" %}
</div>
{%endif%}
<div id="postList">
	{%for post in items%}
	<div class="card">
		{%include "wall_post" with {'post': post}%}
	</div>
	{% else %}
	<div class="card padded">
		{{ L('wall_empty') }}
	</div>
	{%endfor%}
</div>
<div class="singleColumn">
	{% include "pagination" %}
</div>
