<div class="tabbar">
	<a href="/settings/admin" class="{%if selected==0%}selected{%endif%}">{{L('profile_edit_basic')}}</a>
	<a href="/settings/admin/users" class="{%if selected==1%}selected{%endif%}">{{L('admin_users')}}</a>
</div>