{# @pebvariable name="feed" type="smithereen.data.feed.NewsfeedEntry[]" #}
{%extends "page"%}
{%block content%}
{% include "feed_tabbar" with {'tab': tab | default('news')} %}
{%include "wall_post_form" with {'id': "feed"}%}
<div class="summaryWrap">
	<div class="summary">{{ L('summary_feed') }}</div>
	{% include "pagination" %}
</div>
<div class="singleColumn" id="postList">
{% set _currentDate='' %}
{%for entry in feed%}
{% include "feed_row" with {'entry': entry} %}
{% else %}
<div class="emptyState" id="wallEmptyState">{{ L('feed_empty') }}</div>
{%endfor%}
</div>
<div class="bottomSummaryWrap">
	{% include "pagination" %}
</div>
{%endblock%}
