{%extends "page.twig"%}
{%block content%}
{%include "wall_post_form.twig"%}
{%for entry in feed%}

{%if entry.type==1%}
{%include "wall_post.twig" with {post: entry.post}%}
{%for reply in entry.post.replies%}
{%include "wall_reply.twig" with {post: reply}%}
{%endfor%}
{%elseif entry.type==2%}
🔁 <a href="{{entry.author.url}}">{{entry.author.fullName}}</a><br/>
{%include "wall_post.twig" with {post: entry.post}%}
{%for reply in entry.post.replies%}
{%include "wall_reply.twig" with {post: reply}%}
{%endfor%}
{%else%}
Unknown entry type {{entry.type}}
{%endif%}

<hr/>
{%endfor%}
{%endblock%}