<div class="layerWithTitle">
	<div class="layerTitle">
		<div class="title ellipsize">{{ title }}</div>
		<a class="close" href="#" onclick="closeTopmostLayer(); return false;">{{ L('close') }}</a>
	</div>
	{% include contentTemplate %}
</div>