{% extends "profile_module" %}
{% block moduleContent %}
<div class="padded fixLineHeight">
{% for group in groups %}
	<a href="{{ group.profileURL }}">{{ group.name }}</a>{% if not loop.last %} • {% endif %}
{% endfor %}
</div>
{% endblock %}