{% extends "page" %}
{% block content %}
{% include "settings_tabbar" with {'tab': 'privacy'} %}
<form method="post" action="/settings/privacy" data-ajax class="singleColumn gray">
	<div class="settingsMessage" id="formMessage_privacy" style="display: none"></div>
	<input type="hidden" name="csrf" value="{{ csrf }}"/>
	<div class="privacySettingsForm">
		{% for key in settingsKeys %}
			<div class="settingLabel">{{ L(key.descriptionLangKey) }}</div>
			{% set setting=privacySettings[key] %}
			<div class="settingValue">
				{% include "privacy_setting_selector" with {'setting': setting, 'key': key, 'isOnlyMe': key.isOnlyMe} %}
			</div>
		{% endfor %}
			<div></div>
			<div style="margin-top: 12px;"><input type="submit" value="{{ L('save') }}"/></div>
	</div>
</form>
{% endblock %}
