<div class="userGrid">
	{%for user in users%}
	<div class="userGridItem">
		<a href="{{user.profileURL}}">
			{{user | pictureForAvatar('m')}}
			<div class="name">{{user.fullName}}</div>
		</a>
	</div>
	{%endfor%}
	{%include "pagination" with {'perPage': 100, 'offset': pageOffset, 'total': total, 'urlPrefix': paginationUrlPrefix, 'ajax': true}%}
</div>