{# @pebvariable name="post" type="smithereen.data.Post" #}
{%extends "page"%}
{%block content%}
{% include 'wall_tabbar' with {'tab': 'single', 'owner': post.owner} %}
<div class="singleColumn">
{%if post.replyLevel>0%}
	<a href="/posts/{{post.getReplyChainElement(0)}}">Top-level</a><br/>
{%endif%}
{% include "wall_post" with {'standalone': true} %}
<div id="postReplies{{post.id}}">{%for reply in post.replies%}
{%include "wall_reply" with {'post': reply}%}
{%endfor%}</div>
</div>
{%if currentUser is not null%}{%include "wall_post_form" with {'replyTo': post, 'id': "reply"}%}{%endif%}
<script>
	if(window.location.hash && window.location.hash.indexOf("comment")==1){
		var el=document.getElementById(window.location.hash.replace("#comment", "post"));
		if(el) el.classList.add("highlight");
	}
</script>
{%endblock%}