{% extends 'page' %}
{% block content %}
{% include 'wall_tabbar' %}
<div class="summaryWrap">
	<div class="summary">{{ L('total_X_posts', {'count': totalItems}) }}</div>
	{% include "pagination" %}
</div>
<div class="singleColumn">
{% for post in items %}
	<div class="wallRow">{% include 'wall_post' %}</div>
{% else %}
	<div class="emptyState">{{ L('wall_empty') }}</div>
{% endfor %}
</div>
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{% endblock %}
