<table width="100%" class="profileBlock">
	<tr><th class="blockHeader"><a href="{{ fullWallURL }}">{{L('wall')}}</a></th></tr>
	<tr><td class="blockSubheader">{{LP('X_posts', postCount)}}</td></tr>
	{% if currentUser is not null and not isSelfBlocked %}
		<tr><td>
			<div class="marginBefore">{% include "wall_post_form" %}</div>
		</td></tr>
	{%endif%}
	<tr><td class="narrowWall" id="postList">
		{%for post in wall%}
			<div class="wallRow">{%include "wall_post" with {'post': post}%}</div>
		{% else %}
			<div id="wallEmptyState">{{ L('wall_empty') }}</div>
		{%endfor%}
		{%include "pagination" with {'perPage': 25, 'offset': pageOffset, 'total': postCount, 'urlPrefix': (user.profileURL+"?offset=")}%}
	</td></tr>
</table>
