{% extends "page" %}
{% block content %}
	<h1>{{ L('email_confirmation_code_header') }}</h1>
	{{ L('email_confirmation_code', {'name': name, 'action': action}) }}
	<div class="centeredMainBlock">
		<div id="confirmationCode">{{ code }}</div>
	</div>
	{{ L('email_confirmation_code_info') }}
{% endblock %}

