{% extends "page" %}
{% block content %}
	<h1>{{ L('email_confirmation_code_header') }}</h1>
	{{ L('email_confirmation_code', {'name': name, 'action': action}) }}
	<div class="centered_main_block">
		<div style="background: #f7f7f7; border: solid 1px #ccc; border-radius: 4px; font-size: 20px; padding: 10px; display: inline-block;">{{ code }}</div>
	</div>
	{{ L('email_confirmation_code_info') }}
{% endblock %}

