<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<style>
    {{ inlineTextResource("email.css") }}
	</style>
</head>
<body>
<table id="emailOuterTable">
	<tr>
		<td class="emailOuterTableSide"></td>
		<td id="emailOuterTableContentColumn">
			<table id="emailInnerTable">
				<tr>
					<td class="headerBG">
						<a id="logo" href="https://{{ domain }}">
							<img src="https://{{ domain }}/res/email_logo.png" alt="Smithereen" height="28" width="27"/>
							{{ serverName }}
						</a>
					</td>
				</tr>
				<tr id="emailInnerTableContentRow">
					<td>
						<div id="emailContent">
							{% block content %}{% endblock %}
						</div>
					</td>
				</tr>
			</table>
		</td>
		<td class="emailOuterTableSide"></td>
	</tr>
</table>
</body>
</html>