{% extends "page" %}
{% block content %}
	{{ L('email_password_reset_html_before', name, domain) }}
	<center style="padding: 20px 0;">
		<a href="{{ passwordResetLink }}" style="text-decoration: none; background-color: #4E6C1A; padding: 10px 15px; font-weight: bold; color: #FFFFFF; border-radius: 5px; display: inline-block;">{{ L('reset_password') }}</a>
	</center>
	{{ L('email_password_reset_after') }}
{% endblock %}

