{% extends "page" %}
{% block content %}
	<h1>{{ L('email_change_header') }}</h1>
	{{ L('email_change_new_body_html', {'name': name, 'serverName': serverName, 'domain': domain, 'oldAddress': oldAddress, 'newAddress': newAddress}) }}
	<div class="button_blue centered_main_block">
		<a href="{{ confirmationLink }}">{{ L('email_change_new_body_button') }}</a>
	</div>
{% endblock %}

