{% extends "page" %}
{% block content %}
	<h1>{{ L('email_change_header') }}</h1>
	{{ L('email_change_old_body', {'name': name, 'serverName': serverName, 'address': address, 'domain': domain}) }}
{% endblock %}

