@import "palette.scss";

@svg-load audioPlay url('img/audio_play.svg') {
	fill: $audioControlsColor;
}
@svg-load audioPause url('img/audio_pause.svg') {
	fill: $audioControlsColor;
}

.audio{
	text-align: left;
	position: relative;
	div& td{
		border: 0;
		vertical-align: top;
		padding: 0;
	}
	.audioAttachmentList &{
		margin-left: -4px;
	}
	.area{
		cursor: pointer;
		margin-bottom: 10px;
		line-height: normal;
	}
	table{
		border-spacing: 0;
	}
	.info{
		width: 100%;
		position: relative;
	}
	.titleWrap{
		overflow: hidden;
		text-overflow: ellipsis;
		b{
			padding: 0;
			color: $normalLink; /* This is not a link but otherwise it's black which doesn't look nice */
			vertical-align: top;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.duration{
		color: $auxiliaryGrey;
		font-size: 0.9em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.player{
		display: none;
		height: 10px;
	}
	&.current{
		.area{
			margin-bottom: 0;
		}
		.player{
			display: block;
		}
	}
}

.audioProgress{
	touch-action: none;
}

.audioWhiteLine{
	width: 100%;
	height: 15px;
	position: relative;
	display: block;
	top: -5px;
	cursor: pointer;
	user-select: none;
}

.audioBackLine{
	width: 100%;
	height: 4px;
	margin: 0;
	position: relative;
	display: block;
	top: -15px;
	background-color: $audioBackLineColor;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
}

.audioLoadLine{
	width: 0;
	height: 4px;
	margin: 0;
	position: relative;
	display: block;
	top: -19px;
	background-color: $audioLoadLineColor;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
}

.audioProgressLine{
	width: 0;
	height: 4px;
	margin: -12px 0 0 0;
	position: relative;
	display: block;
	top: -11px;
	background-color: $audioProgressLineColor;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
}

.audioSlider{
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	display: none;
	background-color: $audioSliderColor;
	user-select: none;
	border-radius: 50%;
	cursor: pointer;
}

.audioVolumeWhiteLine{
	width: 45px;
	height: 15px;
	position: relative;
	top: -5px;
	display: block;
	cursor: pointer;
	user-select: none;
}

.audioVolume{
	touch-action: none;
	margin-left: 11px;
	.audioLoadLine{
		width: 100%;
		top: -15px;
	}
	.audioProgressLine{
		top: -7px;
		width: 50%;
	}
}

#audioTipWrap{
	z-index: 1000;
	display: none;
	color: $audioTipTextColor;
	background: $audioProgressTipColor;
	pointer-events: none;
	padding: 2px 5px 3px;
	border-radius: 3px;
	cursor: pointer;
}

#audioTipArrow{
	position: absolute;
	bottom: -4px;
	width: 7px;
	height: 4px;
	background: svg-load("img/tt_tip.svg", fill:$audioProgressTipColor) no-repeat transparent;
}
