@import "audioplayer_common.scss";

.audioAttachmentList{
	padding: 6px 0 0 4px;
	margin-left: -4px;
	width: auto !important;
}

.audio{
	.audioAttachmentList & {
		margin-left: -4px;
	}
	.area{
		&:hover{
			background-color: $audioAreaOnHover;
		}
		&:hover .duration{
			color: $audioDurationOnHover;
		}
	}
	.playBtnWrap{
		min-width: auto;
		padding: 6px;
		#content &{
			/* For embedded posts */
			padding-left: 16px;
		}
	}
	.play{
		cursor: pointer;
		width: 16px;
		height: 16px;
		background: svg-inline(audioPlay) no-repeat 0 0;
		&.playing{
			background: svg-inline(audioPause) no-repeat 0 0;
		}
		@media (hover: none) {
			#content &{
				/* To make up for a larger font size in embedded posts on mobile devices */
				width: 19px;
				height: 19px;
				background-size: 19px 19px;
			}
		}
	}
	.titleWrap{
		display: flex;
		padding: 7px 0 6px;
		white-space: nowrap;
		& > * {
			min-width: auto;
		}
		.artist {
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.title {
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.duration{
		font-size: 0.9em;
		padding: 8px 7px 7px 4px;
		max-width: 50px;
	}
	.player{
		padding: 0 6px;
		#content &{
			/* For embedded posts */
			padding-left: 16px;
		}
	}

	&.current {
		.area {
			margin-bottom: 0;
		}
	}
}

.audioSlider{
	width: 8px;
	height: 8px;
	top: -2px;
	right: -4px;
}

.audioVolume:hover .audioSlider,
.audioVolume.dragging .audioSlider,
.audioProgress.dragging .audioSlider{
	display: block;
}
