$imgAreaSelectorMarkerSize: 10px;
$imgAreaSelectorMarkerBorderRadius: 2px;
$mobile: false;
$siteWidthWide: 1280px;
$siteWidthNarrow: 791px;
$leftMenuWidth: 147px; /* from the left edge of the header to the left edge of the content area */
$headerHeight: 40px;
$smallPadding: 5px;
$mediumPadding: 10px;

@import "common.scss";

@svg-load popoverArrowTopWithHeader url(img/popover_arrow_top.svg) {
	polygon[fill=red]{
		fill: $simpleButton;
	}
	polygon[fill=lime]{
		fill: $headerBorderBottomDark;
	}
}

@svg-load popoverArrowTop url(img/popover_arrow_top.svg) {
	polygon[fill=red]{
		fill: $bg;
	}
	polygon[fill=lime]{
		fill: $darkerGray;
	}
}

@svg-load popoverArrowBottom url(img/popover_arrow_btm.svg) {
	polygon[fill=red]{
		fill: $bg;
	}
	polygon[fill=lime]{
		fill: $darkerGray;
	}
}

body, p, textarea, input, select, button{
	font-family: Tahoma, Helvetica, Arial, Roboto, sans-serif;
	font-size: 11px;
}

body{
	background: $bg;
	margin: 0;
}

a:hover, a:visited:hover, .link:hover{
	text-decoration: underline;
}

h2{
	color: $boldHeaders;
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	padding-bottom: 2px;
	border-bottom: solid 1px $mainHeaderSeparator;
	line-height: 1.27em;
}

h3{
	color: $boldHeaders;
	font-weight: bold;
	margin: 0;
	padding-bottom: 2px;
	font-size: 11px;
	border-bottom: solid 1px $mainHeaderSeparator;
}

h4{
	color: $boldHeaders;
	font-weight: bold;
	margin: 4px 0;
	font-size: 11px;
}

small{
	font-size: 10px;
}

.headerWrap{
	position: relative;
	height: $headerHeight;
	padding: 0 8px;
}

.header{
	color: $textOnAccent;
	position: absolute;
	top: 0;
	left: 12px;
	right: 12px;
	height: $headerHeight;
	padding-right: 12px;
	margin: 0 -8px;
	.logo{
		img{
			margin: 0 8px 1px 4px;
			vertical-align: middle;
		}
		a{
			display: inline-block;
			width: 100%;
			color: $textOnAccent;
			font-weight: bold;
			line-height: $headerHeight;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			vertical-align: top;
			&:hover, &:visited:hover{
				text-decoration: none;
			}
		}
	}
	a.nav{
		color: $textOnAccent;
		font-weight: bold;
		display: inline-block;
		line-height: $headerHeight;
		height: $headerHeight;
		padding: 0 8px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		vertical-align: top;
		text-transform: lowercase;
	}
	a.nav:hover, a.nav:visited:hover{
		text-decoration: none;
		background: rgba(0, 0, 0, .2);
	}
	td{
		vertical-align: top;
	}
	#qsearchWrap{
		width: 172px;
		float: left;
		margin-top: 8px;
		display: none;
		position: relative;
	}
	#qsearchField{
		width: 100%;
		height: 23px;
		border-radius: 3px;
		border: solid 1px $headerBorderTop;
		box-shadow: 0 1px 0 $headerBorderBottomLight, 0 1px 4px #c0c0c0 inset;
		background: svg-load('img/search_icon.svg', fill: color($iconColor alpha(65%))) no-repeat 6px 5px, linear-gradient(to bottom, #efefef 0%, #ffffff 100%);
		padding: 3px 3px 3px 21px;
	}
	#qsearchResults{
		position: absolute;
		top: 42px;
		background: #FFF;
		width: 211px;
		border-radius: 3px;
		box-shadow: 0 0 6px #999;
		color: $text;
		text-align: left;
		z-index: 1;
		padding: 4px 0;
	}
}

.hasJS #qsearchWrap{
	display: block;
}

.qsearchResult{
	padding: 4px 8px;
	height: 38px;
	display: block;
	.ava{
		float: left;
		margin-right: 8px;
	}
	.qsearchName{
		line-height: 30px;
	}
	&:hover{
		text-decoration: none;
		background: $blockBackground;
	}
}

.qsearchSection{
	padding: 4px 8px;
	font-weight: bold;
	color: $boldHeaders;
}

.qsearchNoResults{
	padding: 8px;
	text-align: center;
	color: $auxiliaryGrey;
}

.headerBG{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $headerGradientBottom;
	background: linear-gradient(to bottom, $headerGradientTop, $headerGradientBottom);
	border: solid 1px $headerBorderBottomDark;
	border-top: none;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	.shadow{
		width: 100%;
		height: 6px;
		border-radius: 0 0 6px 6px;
		border-bottom: solid 1px $headerBorderBottomLight;
		position: absolute;
		bottom: 0;
	}
}

.headerWrap{
	margin-left: auto;
	margin-right: auto;
}

.widePage{
	.headerWrap{
		width: $siteWidthWide;
	}
	.contentWrap{
		width: $siteWidthWide;
	}
}

.narrowPage{
	.headerWrap{
		width: $siteWidthNarrow;
	}
	.contentWrap{
		width: $siteWidthNarrow;
	}
}

.popupPage{
	.headerWrap{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	}
	.header{
		padding: 0;
	}
	.headerBG{
		border-radius: 0;
		border-left: none;
		border-right: none;
		.shadow{
			border-radius: 0;
		}
	}
	.popupContent{
		min-height: 100vh;
		display: flex;
		align-items: center;
		padding-top: 40px;
		center{
			flex-grow: 1;
		}
	}
}

.leftMenu{
	padding: 5px 8px 0 5px;
	box-sizing: border-box;
	width: $leftMenuWidth;
	input{
		width: 100%;
		box-sizing: border-box;
		margin: 4px 0;
	}
}

.actionList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	a{
		display: block;
		padding: 4px 6px;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
		background: $blockBackground;
		box-shadow: 0 1px 0 $blockBorderTop inset;
	}
	li.hasAux{
		display: table;
		a{
			display: table-cell;
			&.actionMain{
				width: 100%;
			}
			&.actionAux{
				color: $auxiliaryGrey;
			}
		}
	}
	li.separator{
		border-bottom: solid 1px $menuItemsSeparator;
		margin: 3px 0;
	}
}

.post{
	border-bottom: solid 1px $wallPostSeparator;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: flex;
	.postContentWrap{
		padding-left: 10px;
		/*padding-right: 10px;*/
		flex-grow: 1;
	}
	.postAvaWrap{
		width: 50px;
		flex: none;
	}
	.postContent{
		padding-top: 2px;
		line-height: 130%;
		pre{
			overflow-x: auto;
		}
	}
	&.standalone{
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.repostHeader{
		margin: 5px 0;
		.avaW{
			margin-right: 7px;
		}
		.name{
			font-weight: bold;
			line-height: 13px;
		}
		.nameW{
			margin-bottom: 4px;
		}
		.repostIcon{
			display: inline-block;
			width: 9px;
			height: 11px;
			margin: 0 3px 0 1px;
			position: relative;
			top: 2px;
			background: svg-load('img/repost_icons.svg') no-repeat;
			&.mastodonStyle{
				background-position: 0 -11px;
			}
		}
	}
	.repost{
		padding-left: 8px;
		border-left: solid 2px #bac087;
	}
	.authorName{
		line-height: 13px;
	}
	&.comment{
		.postAvaWrap{
			width: 32px;
		}
		.postContentWrap{
			padding-left: 7px;
			padding-right: 0;
		}
		.treeIndent{
			width: calc(var(--indent-level) * 16px);
			flex: none;
		}
	}
	code{
		line-height: 13px;
	}
	.postIconAction{
		display: block;
		width: 13px;
		height: 13px;
		border: solid 1px transparent;
		background: svg-load('img/post_actions.svg', fill: #91a20b) no-repeat;
		opacity: .4;
		transition: opacity 0.3s ease;
		margin-left: 5px;
		&:hover{
			opacity: 1;
		}
		&.actionEdit{
			background-position: 0 -12px;
		}
		&.actionReport{
			background-position: 0 -24px;
		}
	}
	.floatingPostActions{
		margin: 0 3px 0 5px;
	}
}

/* Safari hack because it hates my SVG abuse */
_::-webkit-full-page-media, _:future, :root .post .repostHeader .repostIcon{
	background: svg-load('img/repost_icons_safari.svg') no-repeat;
	background-size: 9px 22px;
}

.post.comment .authorName{
	font-weight: normal;
}

.feedRow{
	margin-bottom: 5px;
	padding-bottom: 5px;
	&.feedPostRow{
		padding-bottom: 10px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	>.post{
		border: none;
		margin: 0;
		padding: 5px 0 0 0;
	}
	.feedIcon{
		margin-left: 5px;
	}
	.feedRowContent{
		padding-left: 30px;
		padding-top: 2px;
		line-height: 13px;
		&+.post{
			padding-top: 7px;
		}
	}
	.feedRowTime{
		font-size: 9px;
		float: right;
		color: $darkGrey;
		padding-top: 2px;
	}
}

.wallRow{
	margin-bottom: 10px;
	padding-bottom: 10px;
	>.post{
		border: none;
		margin: 0;
		padding: 0;
	}
	&:last-child{
		padding-bottom: 0;
	}
}

.feedRow, .wallRow{
	border-bottom: solid 1px $wallPostSeparator;
	&:last-child{
		border-bottom: none;
	}
}


#elevator{
	position: fixed;
	width: 130px;
	top: 0;
	bottom: 0;
	left: 0;

	.bg{
		height: 100%;
		display: inline-block;
		transition: background-color .1s ease;
		background-color: color($blockBackground alpha(0%));
		.inner{
			font-weight: bold;
			margin: 15px 31px 15px 15px;
			padding: 0 20px;
			overflow-x: hidden;
			background: svg-load('img/toplink.svg', fill: $normalLink) no-repeat left 3px;
			opacity: .5;
			transition: opacity .1s ease;
		}
	}
}

.widePage #elevator{
	width: calc(((100vw - (100vw - 100%)) - $siteWidthWide) / 2);
}

.narrowPage #elevator{
	width: calc(((100vw - (100vw - 100%)) - $siteWidthNarrow) / 2);
}

@media (max-width: 1051px){
	.narrowPage #elevator{
		display: none;
	}
}

@media (max-width: 1540px){
	.widePage #elevator{
		display: none;
	}
}

#elevator:hover{
	text-decoration: none;
	.bg{
		background-color: $blockBackground;
		.inner{
			opacity: 1;
		}
	}
}

#elevator.goBackDown{
	color: transparent;
	&:hover .bg{
		background-color: color($blockBackground alpha(0%));
	}
	.bg .inner{
		background-position: left -8px;
	}
}

.contentWrap{
	margin-left: auto;
	margin-right: auto;
}

.pageContent{
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
	margin-right: 17px;
}

.wrap{
}

.wallPostForm{
	padding: 8px;
	background: $bgGrey;
	border-top: solid 1px $wallPostSeparator;
	border-bottom: solid 1px $wallPostSeparator;
	&.editing{
		border: none;
		background: none;
		padding: 8px 0 0 0;
	}
	.bottomBar{
		margin-top: 8px;
		display: flex;
		align-items: center;
		clear: both;
		.center{
			flex-grow: 1;
			margin-left: 10px;
			max-height: 26px;
			text-overflow: ellipsis;
			overflow-y: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
		.right{
			margin: 0 10px;
		}
		.left, .right{
			flex-shrink: 0;
		}
	}
	.attachment{
		position: relative;
		float: left;
		margin: 8px 10px 8px 0;
		.scrim{
			display: none;
		}
		.deleteBtn{
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px;
			border-radius: 3px;
			background: rgba(0,0,0,0.5);
			&:after{
				content: '';
				width: 7px;
				height: 7px;
				display: block;
				background-image: svg-load("img/notifier_close.svg", fill: #fff);
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0.6;
				transition: opacity .1s ease;
			}
			&:hover:after{
				opacity: 0.8;
			}
		}
		img{
			width: auto;
			height: auto;
			max-width: 75px;
			max-height: 57px;
			object-fit: cover;
			display: block;
		}
		.fileName, .progressBar{
			display: none;
		}
		&.uploading{
			float: none;
			clear: both;
			img{
				display: none;
			}
			.progressBar{
				display: inline-block;
			}
			.fileName{
				color: $auxiliaryGrey;
				display: inline-block;
				margin-left: 6px;
				max-width: 300px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.deleteBtn{
				position: static;
				display: inline-block;
				margin: 0 5px;
				padding-top: 4px;
				padding-bottom: 2px;
				background: none;
				&:after{
					background-image: svg-load('img/notifier_close.svg', fill: $boldHeaders);
				}
			}
		}
	}
	.commentReplying{
		line-height: 16px;
		color: $auxiliaryGrey;
		margin: -3px 0 5px;
		.cancelReply{
			display: inline-block;
			width: 16px;
			height: 16px;
			background: svg-load('img/box_close.svg', fill: $iconColor) no-repeat center;
			opacity: .7;
			transition: opacity .2s ease;
			margin-left: 2px;
			vertical-align: top;
			&:hover{
				opacity: 1;
			}
		}
	}
	.completionsContainer{
		margin: -1px 1px 0;
	}
}

.commentsPreview:empty+.wallPostForm{
	margin-top: 5px;
}

.replies .wallPostForm{
	margin-bottom: -1px;
}

.profileBlock{
	border-collapse: collapse;
	.blockHeader{
		text-align: left;
		height: 20px;
		border-top: solid 1px $blockBorderTop;
		padding: 3px 8px;
		background: $blockBackground;
		font-weight: bold;
		a{
			color: $boldHeaders;
		}
		.addHeader{
			color: $auxiliaryBlockHeader;
			text-transform: lowercase;
		}
	}
	.blockSubheader{
		height: 19px;
		background: $wallCommentSeparator;
		border-top: solid 1px $blockBorderBottom;
		color: $auxiliaryGrey;
		padding: 3px 8px;
	}
}

.columnLayout, .singleColumn{
	padding: 10px;
}

.columnLayout{
	display: flex;
	align-items: flex-start;
	&.leftNarrow{
		#left{
			width: 200px;
			flex: none;
		}
		#right{
			flex-grow: 1;
		}
		&.expanded #right{
			margin-left: -200px;
			padding-left: 0;
		}
	}
	&.rightNarrow{
		#left{
			flex-grow: 1;
		}
		#right{
			width: 200px;
			flex: none;
		}
		&.expanded #left{
			margin-right: -200px;
			padding-right: 0;
		}
	}
}

.profileBlock td {
	word-break: break-word;
}

.profileBlock .padded{
	padding: 8px;
}

.singleColumn.gray{
	padding: 15px;
}

.narrowForms form{
	h2{
		width: 400px;
		margin: auto;
	}

	.form{
		width: 400px;
		.label{
			width: 140px;
			padding: 4px 10px 5px 0;
		}
		.text{
			padding: 4px 0 9px;
		}
		.control{
			width: 150px;
			&.wide{
				width: 100%;
			}
		}
	}
}

.wideForms form{
	.form{
		width: 100%;
		.label{
			width: 190px;
			padding: 4px 10px 5px 0;
		}
		.text{
			padding: 4px 0 9px;
		}
		.control{
			width: 220px;
		}
	}
}

.notMuchContent form{
	.form{
		width: 100%;
		.label{
			width: 145px;
			padding: 4px 10px 5px 0;
		}
		.control{
			width: 200px;
		}
	}
}

.leftNarrow #right{
	padding-left: 10px;
}

.rightNarrow #left{
	padding-right: 10px;
}

.marginAfter{
	margin-bottom: 8px;
}

.marginBefore{
	margin-top: 8px;
}

.smallMarginBefore{
	margin-top: 4px;
}

.ownProfileAvaPlaceholderLabel{
	color: $normalLink;
	text-align: center;
	padding: 1px 5px 7px;
	border-bottom: solid 1px #ffe222;
	background: #fff8cc;
}

.membersRow td{
	padding-top: 8px;
	font-size: 10px;
	.ava{
		margin-bottom: 8px;
	}
}

.oneMemberRow{
	td{
		padding-top: 8px;
		padding-left: 8px;
	}
	.info{
		margin-top: 4px;
		color: $grayText;
	}
}

.postInfo, .postLink:link, .postLink:visited{
	padding-top: 4px;
	font-size: 10px;
	color: $auxiliaryGrey;
}

.commentsPreviewWrap{
	padding-left: 60px;
	.loadPrev{
		display: block;
		height: 30px;
		width: 100%;
		line-height: 31px;
		text-align: center;
		background-color: $menuItemsSeparator;
		&:hover{
			text-decoration: none;
		}
	}
	.prevLoader{
		height: 30px;
		background-color: $menuItemsSeparator;
		margin-top: 5px;
	}
	>*:first-child{
		margin-top: 5px;
	}
}

.comment{
	border-bottom: none;
	padding-bottom: 5px;
	margin-bottom: 0;
	>div{
		border-top: solid 1px $menuItemsSeparator;
		padding-top: 5px;
		&.postContentWrap{
			padding-top: 7px;
		}
	}
	.treeIndent{
		border-top: none;
	}
	&:hover .treeIndent{
		background: svg-load('img/comments_tree_indent.svg', fill: $wallPostSeparator, stroke: $wallPostSeparator) top 14px left -5px repeat-x;
	}
	&.first >div{
		border-top: none;
		padding-top: 0;
		&.postContentWrap{
			padding-top: 2px;
		}
	}
	&.twoLevelIndented{
		margin-left: 39px;
	}
}

.profileFields{
	line-height: 140%;
	padding: 10px 6px 15px;
	td{
		padding-top: 3px;
		vertical-align: top;
		p:first-child{
			margin-top: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	tr:first-child td{
		padding-top: 0;
	}
	.label{
		color: $auxiliaryGrey;
		width: 30%;
	}
}

.dropOverlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 8px;
	border: dashed 2px $normalLink;
	background: color($bg alpha(90%));
	text-align: center;
	color: $normalLink;
	justify-content: center;
	flex-direction: column;
	font-size: 13px;
	display: none;
	transition: background-color 0.2s ease-in-out;
	&.over{
		background: $blockBackground;
	}
}

.fileIsBeingDragged .dropOverlay{
	display: flex;
}

.notMuchContent{
	width: 463px;
	margin: auto;
	padding: 60px 0 38px;
	p{
		margin-top: 0;
		margin-bottom: 16px;
	}
}

input[type=date], input[type=time], select{
	height: 21px;
}

input[type=date]::-webkit-calendar-picker-indicator{
	background: svg-inline(dateInputIcon) no-repeat center right 2px;
	width: 19px;
	height: 19px;
}

input[type=time]::-webkit-calendar-picker-indicator{
	background: svg-inline(timeInputIcon) no-repeat center right 2px;
	width: 19px;
	height: 19px;
}

input[type=date], input[type=time]{
	padding-right: 0;
}

*:focus{
	outline: none;
}

input[type=submit], input[type=button], button, .button, .button:link, .button:visited{
	background: linear-gradient(to top, $buttonGradientBottom, $buttonGradientTop) repeat-x top;
	background-size: 1px 42px;
	background-position: 0 -16px;
	text-shadow: 0 1px 0 $headerBorderTop;
	border: solid 1px $headerBorderTop;
	border-radius: 2px;
	color: $textOnAccent;
	box-shadow: 0 1px 0 $buttonBorderTop inset, 0 0 0 1px $buttonBorder inset;
	cursor: pointer;
	padding: 0 14px;
	height: 25px;
	line-height: 23px;
	display: inline-block;
	box-sizing: border-box;
	&.loading{
		color: transparent;
		text-shadow: none;
		background: svg-load('img/loading_anim.svg', fill: $textOnAccent) no-repeat, linear-gradient(to top, $buttonGradientBottom, $buttonGradientTop) repeat-x;
		background-size: auto, 1px 42px;
		background-position: center, 0 -16px;
	}
	&:disabled{
		opacity: .5;
	}

	&:hover, &:visited:hover{
		text-decoration: none;
		background-position: 0 -8px;
		&.loading{
			background-position: center, 0 -8px;
		}
	}
	&:active{
		text-decoration: none;
		background: $buttonGradientBottom;
		box-shadow: none;
	}
	&.secondary{
		background: linear-gradient(to top, $buttonGrayGradientBottom, $buttonGrayGradientTop) repeat-x top;
		background-size: 1px 42px;
		text-shadow: 0 1px 0 #FFF;
		border: solid 1px $buttonGrayBorder;
		color: $darkGrey;
		box-shadow: 0 1px 0 #FFF inset, 0 0 0 1px $buttonGrayBorderInner inset;
		background-position: 0 -12px;
		&:hover{
			background-position: 0 -4px;
		}
		&:active{
			background: $buttonGrayActive;
			box-shadow: none;
		}
	}
	&.tertiary{
		background: transparent;
		text-shadow: none;
		color: $normalLink;
		box-shadow: none;
		border: none;
		&:hover:not(.loading){
			background: $blockBackground;
		}
		&.loading{
			background: svg-load('img/loading_anim.svg', fill: $normalLink) no-repeat center;
			color: transparent;
		}
	}
}

select{
	background-image: svg-load("img/select_arrow.svg");
	background-repeat: no-repeat;
	background-position: center right 4px;
	padding: 0 16px 0 4px;
	border-radius: 0;
}

.tabbar{
	border-bottom: solid 1px $tabBackground;
	padding: 11px 10px 0;
	height: 35px;
	>a{
		display: block;
		padding: 0 10px;
		margin-right: 5px;
		border-radius: 3px 3px 0 0;
		line-height: 23px;
		float: left;
	}
	>a:hover, >a:visited:hover{
		text-decoration: none;
		background: $blockBackground;
	}
	>a.selected, >a.selected:hover, >a.selected:visited:hover{
		background: $tabBackground;
		color: $textOnAccent;
	}
	.aux{
		float: right;
		padding: 0;
		margin-right: 0;
		line-height: 23px;
	}
}

.friendsRow{
	padding-bottom: 10px;
	border-bottom: solid 1px $wallPostSeparator;
	margin-bottom: 10px;
	border-spacing: 0;
	.info{
		padding: 1px 0 0 10px;
		.infoInner{
			display: grid;
			grid-template-columns: minmax(55px, min-content) auto;
			grid-gap: 3px 15px;
			.unlabeled{
				grid-column-start: 2;
			}
		}
		.grayText{
			white-space: nowrap;
		}
	}
	.buttons{
		margin-top: 8px;
		padding-bottom: 2px;
		.settingsMessage{
			margin-left: 0;
		}
	}
	.mutual{
		padding-top: 5px;
	}
	.mutualPics{
		margin-top: 6px;
		height: 32px;
		a{
			display: block;
			float: left;
			margin-right: 4px;
		}
	}
}

.form{
	border-spacing: 0;
	width: 80%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	.label{
		text-align: right;
		color: $auxiliaryGrey;
		padding: 4px 8px;
		width: 30%;
	}
	.text{
		padding: 5px 0 9px;
	}
	.control{
		width: 100%;
	}
	td{
		padding: 0;
		padding-bottom: 5px;
		vertical-align: top;
	}
	.footer td{
		padding-top: 5px;
	}
}

.formExplanation{
	color: $auxiliaryGrey;
}

.boxLayer{
	width: 410px;
	min-width: 410px;
	border-radius: 2px;
	pointer-events: auto;
	padding: 10px 0;
	.boxLayerInner{
		@include layer-shadow;
	}
	&.wide{
		width: 520px;
	}
	&.scrollable{
		width: 520px;
		.boxContent{
			max-height: 330px;
			overflow-y: auto;
			position: relative;
		}
	}
	.scrollableShadowWrap{
		position: relative;
		.shadowTop, .shadowBottom{
			position: absolute;
			height: 2px;
			left: 0;
			right: 0;
			background: #000;
			opacity: .08;
			transition: opacity .15s ease;
		}
		.shadowTop{
			top: 0;
		}
		.shadowBottom{
			bottom: 0;
		}
		&.scrollAtTop .shadowTop, &.scrollAtBottom .shadowBottom{
			opacity: 0;
		}
	}
}

.boxTitleBar{
	background: $headerGradientBottom;
	color: $textOnAccent;
	height: 32px;
	line-height: 30px;
	font-weight: bold;
	font-size: 13px;
	border: solid 1px $headerBorderBottomDark;
	box-shadow: 0 1px 0 $headerBorderBottomLight inset;
	position: sticky;
	top: 0;
	border-radius: 2px 2px 0 0;
	display: flex;
	z-index: 2;
	.title{
		flex-grow: 1;
		margin: 0 10px;
	}
	.close{
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		flex: none;
		background: svg-load("img/box_close.svg", fill: $textOnAccent) no-repeat;
		background-position: center;
		background-size: 11px 11px;
		opacity: .45;
		transition: opacity .3s ease;
		&:hover{
			opacity: 1;
		}
	}
}

.boxButtonBar{
	height: 46px;
	background: $gray;
	border-top: solid 1px $blockBorderBottom;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 5px;
	border-radius: 0 0 2px 2px;
	>button{
		margin: 0 5px;
	}
	>.buttonBarAux{
		flex-grow: 1;
		padding-left: 13px;
	}
}

.boxContent{
	padding: 16px 14px;
	background: #FFF;
	p{
		margin-top: 0;
	}
	.form{
		margin: 0;
		width: 100%;
	}
}

.settingsMessage, .settingsInfo{
	margin: 8px;
	padding: 8px 11px;
	color: $text;
	&.extraMarginBottom{
		margin-bottom: 15px;
	}
}

.settingsMessage{
	border: solid 1px $alertBorder;
	background: $alertBackground;
}

.settingsInfo{
	border: solid 1px $wallPostSeparator;
	background: $bgGrey;
}

.profileBelowAva{
	background: $blockUnderboxBackground;
	text-align: center;
	padding: 0 8px;
	margin-top: 8px;
	color: $textOnGray;
	overflow: hidden; /* suppress margin collapse with child elements */
	.button{
		width: 100%;
		height: 28px;
		line-height: 26px;
		display: block;
	}
	>*{
		margin: 8px 0;
	}
	.friendshipStatus{
		padding: 7.5px 0;
	}
}

.pagination{
	float: right;
	a, span{
		display: inline-block;
		color: $boldHeaders;
	}
	.curPage{
		font-weight: bold;
	}
	.loader{
		margin-right: 5px;
	}
}

.summaryWrap .pagination{
	margin-bottom: -1px;
	a, span{
		padding: 2px 5px 6px;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
		box-shadow: 0 -4px 0 $wallPostSeparator inset;
	}
	.curPage{
		box-shadow: 0 -1px 0 $normalLink inset, 0 -4px 0 $tabBackground inset;
	}
}

.bottomSummaryWrap:empty{
	display: none;
}

.bottomSummaryWrap .pagination{
	margin-top: -1px;
	a, span{
		padding: 6px 5px 2px;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
		box-shadow: 0 4px 0 $wallPostSeparator inset;
	}
	.curPage{
		box-shadow: 0 1px 0 $normalLink inset, 0 4px 0 $tabBackground inset;
	}
}

.bottomSummaryWrap .bottomSummary{
	padding-top: 13px;
	text-align: center;
}

.selfAvaOverlay{
	position: relative;
	overflow-y: hidden;
	border-radius: 4px;
	.selfAvaActions{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		opacity: 0;
		transform: translateY(100%);
		transition: opacity 0.3s ease, transform 0.3s ease;
		a{
			color: #FFF;
		}
		a:hover, a:visited:hover{
			background: rgba(255,255,255,.2);
			box-shadow: none;
		}
	}
	&:hover .selfAvaActions{
		opacity: 1;
		transform: translateY(0);
	}
}

.highlight{
	animation: highlight 10s;
}

.dataTable{
	&.smallTable{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	&.wideTable{
		width: 100%;
	}
}


.externalInteractionGraphic{
	margin-top: 16px;
}

.externalInteractionText{
	margin: 16px;
}

.externalInteractionForm{
	width: 100%;
	max-width: 512px;
	padding: 16px;
	padding-top: 0;
	box-sizing: border-box;
	textarea{
		width: 100%;
		margin-bottom: 16px;
		box-sizing: border-box;
		vertical-align: top;
	}
}

.externalInteractionLoginForm{
	width: 100%;
	max-width: 512px;
	padding: 16px;
	padding-top: 0;
	box-sizing: border-box;
	input[type=text], input[type=password]{
		width: 100%;
		margin-bottom: 8px;
		box-sizing: border-box;
	}
	.label{
		margin-bottom: 4px;
	}
	center{
		margin-top: 8px;
	}
}

.externalInteractionImage{
	display: inline-block;
	vertical-align: top;
	.arrow{
		fill: $darkerGray;
	}
	.iconFollow .fill{
		fill: #2979FF;
	}
}

.postActions{
	float: right;
	margin-left: 5px;
	.icon{
		display: inline-block;
		width: 10px;
		height: 9px;
		background: svg-load(img/like.svg, fill: #91a20b) no-repeat;
		position: relative;
	}
	.like .icon{
		top: 2px;
		margin-left: 3px;
	}
	.share .icon{
		width: 11px;
		height: 11px;
		background-position: 0 -9px;
		top: 1px;
	}
	.icon, .counter{
		opacity: .4;
		transition: opacity 0.3s ease;
	}
	.like:not(.liked):hover, .share:hover{
		.icon, .counter{
			opacity: .6;
		}
	}
	.like.liked .icon, .like.liked .counter{
		opacity: 1;
	}
	a.action, a.action:link, a.action:visited{
		padding: 4px 5px;
		border-radius: 2px;
		background-color: transparent;
		&:hover{
			background: $blockBackground;
			text-decoration: none;
		}
	}
	.counter{
		padding-left: 3px;
		font-weight: bold;
		font-size: 10px;
	}
}

.comment .postActions a.action:hover{
	background: none;
}

.popoverPlace{
	position: relative;
}

.post .revealOnHover{
	opacity: 0;
	transition: opacity 0.15s ease;
}

.post:hover .revealOnHover{
	opacity: 1;
}

.popover{
	position: fixed;
	font-size: 11px;
	z-index: 5;
	.popoverHeader{
		background: $simpleButton;
		color: $textOnAccent;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		font-weight: bold;
		padding: 4px 8px;
		border: solid 1px $headerBorderBottomDark;
		border-bottom: none;
		a, a:link, a:visited, a:hover, a:visited:hover{
			color: $textOnAccent;
			text-decoration: none;
		}
	}
	.popoverContent{
		background: $bg;
		color: $text;
		border: solid 1px $darkerGray;
	}
	&.hasHeader .popoverContent{
		border-top: none;
	}
	.popoverFooter{
		background: $gray;
		border-top: solid 1px $darkerGray;
		padding: 4px 8px;
		color: $textOnGray;
	}
	.popoverArrow{
		width: 11px;
		height: 7px;
		position: absolute;
	}
	&.belowAnchor{
		padding-top: 6px;
		animation: slideFromBottom 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
		>.popoverArrow{
			background: svg-inline(popoverArrowTop);
			top: 0;
		}
	}
	&.hasHeader.belowAnchor .popoverArrow{
		background: svg-inline(popoverArrowTopWithHeader);
	}
	&.aboveAnchor{
		padding-bottom: 6px;
		animation: slideFromTop 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
		>.popoverArrow{
			background: svg-inline(popoverArrowBottom);
			bottom: 0;
		}
	}
}

.likeWrap .popover{
	right: -35px;
}

.shareWrap .popover{
	right: -125px;
}

.likePopoverWrap .popover, .pollVotersPopoverWrap .popover{
	width: 234px;
	.popoverArrow{
		height: 6px;
		z-index: 6;
	}
	&.aboveAnchor .popoverArrow{
		background: svg-load('img/popover_arrow_btm_black.svg', fill: #4c4c4c);
	}
	&.belowAnchor .popoverArrow{
		background: svg-load('img/popover_arrow_top_black.svg', fill: #4c4c4c);
	}
	.popoverContentW{
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: saturate(180%) blur(2px);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	}
	.popoverHeader, .popoverContent{
		background: none;
		border: none;
	}
	.popoverHeader{
		padding: 8px 10px 0;
	}
	.popoverContent{
		padding: 0 12px;
	}
}

.pollVotersPopoverWrap .popover{
	left: 0;
	.popoverArrow{
		left: 16px;
	}
}

.likePopoverAvatars{
	padding: 8px 0 10px;
	overflow-x: hidden;
	white-space: nowrap;
	height: calc(32px + 8px + 10px);
	display: flex;
	a{
		margin-right: 6px;
		flex: none;
	}
	a:last-child{
		margin-right: 0;
	}
	.self{
		display: none;
	}
	.avaHasImage:after{
		content: none;
	}
	.avaPlaceholder{
		border: none;
	}
	.ava{
		box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	}
	.ava, .avaImage{
		border-radius: 3px;
	}
}

.likeWrap>.liked+.likePopoverWrap .self{
	display: block;
}

.userGrid{
	padding: 15px 20px;
	display: grid;
	grid-template-columns: repeat(5, 100px);
	grid-gap: 15px 20px;
}

.userGridItem{
	overflow-x: hidden;
	text-align: center;
	.name{
		padding-top: 5px;
		line-height: 13px;
	}
}

.radioButtonWrap{
	line-height: 16px;
	padding-left: 24px;
	input{
		vertical-align: top;
		margin: 0 8px 0 -24px;
	}
	input, label{
		cursor: pointer;
	}
	label{
		display: block;
	}
	margin: 8px 0;
	&.disabled{
		opacity: 0.6;
	}
}

.radioButtonWrap+.formExplanation{
	margin-top: -6px;
	padding-left: 24px;
	display: block;
}

.form .radioButtonWrap:first-child{
	margin-top: 3px;
}

.postAttachments{
	.aspectWrapper{
		position: relative;
		white-space: nowrap;
		font-size: 0;
		.pseudoImage{
			width: auto;
			height: auto;
			max-width: 510px;
			max-height: 510px;
			vertical-align: bottom;
		}
		.positioner{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.safariSucks{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.aspectBox{
				white-space: normal;
				font-size: 11px;
				overflow: hidden;
				display: grid;
				grid-gap: 2px;
				width: 100%;
				height: 100%;
			}
		}
	}
	.aspectBox img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		display: block;
	}
	.aspectBox>div{
		min-width: 0;
		min-height: 0;
	}
	video{
		max-width: 100%;
	}
}

.postFormNonThumb{
	margin-top: 10px;
	clear: both;
	h3{
		margin: 0 0 10px 0;
		font-size: 11px;
		color: $boldHeaders;
	}
	.attachDelete{
		display: inline-block;
		width: 16px;
		height: 16px;
		background: svg-load('img/box_close.svg', fill: $iconColor) no-repeat center;
		opacity: .7;
		transition: opacity .2s ease;
		&:hover{
			opacity: 1;
		}
	}
	&.postFormCW input, &.postFormPoll input[type=text]{
		width: 100%;
	}
	&.postFormPoll .pollOptionW{
		display: flex;
		margin-top: 5px;
		.attachDelete{
			width: 21px;
			height: 21px;
			margin-left: 5px;
		}
		&.addOption{
			padding-right: 25px;
		}
	}
	.pollSetting{
		display: block;
	}
}

.narrowWall, .comment, .mailMessageView{
	.postAttachments .aspectWrapper .pseudoImage{
		max-width: 330px;
		max-width: min(330px, 100%);
	}
}

.mailMessageView .postAttachments .aspectWrapper .pseudoImage{
	max-width: 100%;
}

.narrowWall{
	padding: 10px 1px;
}

.photoViewer{
	pointer-events: auto;
	display: flex;
	max-height: 100%;
	max-width: 100%;
	.photoViewerNavButton{
		width: 40px;
		transition: background-color .5s ease, opacity .5s ease;
		opacity: .5;
		background-position: center;
		background-repeat: no-repeat;
		&:hover{
			opacity: 1;
			background-color: rgba(0,0,0,.3);
		}
	}
	.buttonNext{
		background-image: svg-load("img/material/ic_arrow_forward.svg", fill: #FFF);
	}
	.buttonPrev{
		background-image: svg-load("img/material/ic_arrow_back.svg", fill: #FFF);
	}

	.photoWrap img{
		max-height: calc(100vh - 20px);
		max-width: calc(100vw - 100px);
		width: auto;
		height: auto;
	}
}

.feedCaptionWithAva{
	line-height: 24px;
	margin-bottom: 10px;
	img{
		vertical-align: top;
	}
	.text{
		margin-left: 8px;
	}
}

.userList{
	padding: 15px 20px 0 20px;
	td{
		padding-bottom: 15px;
	}
	.info{
		padding-left: 15px;
		.subtitle{
			margin-top: 5px;
			color: $grayText;
		}
	}
}


.groupEditMemberList .groupEditMember{
	background-color: $bg;
	border: solid 1px $textAreaBorder;
	padding: 8px;
	margin-bottom: 3px;
	.ava{
		float: left;
		margin-right: 10px;
	}
	.name{
		line-height: 13px;
	}
	.ellipsize{
	}
	.actions{
		font-size: 9px;
		padding-top: 1px;
	}
}

.groupEditMemberList{
	.reorderableItemWrap{
		margin-bottom: 3px;
		.groupEditMember{
			margin-bottom: 0;
		}
	}
}

.reorderableList{
	.reorderableItem{
		cursor: move;
		transition: opacity .2s ease-out;
	}

	.reorderableItemWrap.beingDragged{
		border: dashed 1px $textAreaBorder;
		background: $bg;
		.reorderableItem{
			margin: -1px;
			opacity: .8;
			user-select: none;
		}
	}
}

.popupMenuW{
	position: relative;
	display: inline-block;
	.opener{
		color: $normalLink;
		cursor: pointer;
	}
	.popupMenu{
		position: absolute;
		z-index: 1;
		left: -6px;
		background: #fff;
		cursor: pointer;
		border: solid 1px $auxiliaryBlockHeader;
		color: $normalLink;
		min-width: 115px;
		@include popup-shadow;
		text-align: left;
		&.withIcons{
			left: -27px;
			.menuTitle{
				padding: 0 10px 0 26px;
			}
		}

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;

			li{
				height: 26px;
				line-height: 26px;
				padding-right: 10px;
				white-space: nowrap;
				&:hover:not(.forceUnselected), &.selected{
					background-color: $blockBackground;
					.ddIcon{
						visibility: visible;
					}
				}
			}
		}
		.menuTitle{
			height: 26px;
			line-height: 26px;
			padding: 0 5px;
			background-color: color($blockBackground alpha(50%));
		}
		&.popupDown{
			top: -7px;
		}
		&.popupUp{
			bottom: -8px;
			.menuTitle .ddIcon{
				background-position: 0 -74px;
			}
		}
		&.compact{
			&.popupDown{
				top: -4px;
				ul{
					margin-bottom: -1px;
				}
			}
			&.popupUp{
				bottom: -4px;
				ul{
					margin-top: -1px;
				}
			}
			.menuTitle{
				height: 19px;
				line-height: 19px;
			}
			li{
				height: 19px;
				line-height: 19px;
				padding: 0 6px;
				margin: 0 -1px;
				&:hover:not(.forceUnselected), &.selected{
					background-color: $buttonBorder;
					border: solid 1px $headerBorderBottomDark;
					line-height: 17px;
					padding: 0 5px;
					color: $textOnAccent;
				}
			}
			&.hasDdIcons li{
				padding-right: 21px;
				&:hover:not(.forceUnselected), &.selected{
					padding-right: 20px;
				}
			}
		}
		.ddIcon{
			width: 14px;
			height: 19px;
			float: right;
			margin-right: -4px;
			background-image: svg-load('img/dropdown.svg');
			background-repeat: no-repeat;
			background-position: 0 3px;
		}
		li .ddIcon{
			margin-right: -19px;
			height: 17px;
			visibility: hidden;
			&.iconPlus{
				background-position: 0 -32px;
			}
		}
	}
}

.attachMenu li span{
	background-image: svg-load('img/attach_icons.svg', fill: $iconColor);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	margin: 3px;
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	&.iconPhoto{
		background-position: 0 0;
	}
	&.iconCW{
		background-position: 0 -180px;
	}
	&.iconPoll{
		background-position: 0 -100px;
	}
	&.iconGraffiti{
		background-position: 0 -140px;
	}
}

.postCWWrap{
	padding-top: 4px;
	.postCWButton{
		display: block;
		color: $boldHeaders;
		font-weight: bold;
		cursor: pointer;
		height: 24px;
		line-height: 24px;
		padding-left: 23px;
		background: color($blockBackground alpha(50%)) svg-load('img/flex_arrow_shut.svg', fill: color($iconColor alpha(70%))) no-repeat left center;
	}
	.postContent, .postAttachments, .poll{
		display: none;
	}
}

input:checked+.postCWWrap{
	.postCWButton{
		background-image: svg-load('img/flex_arrow_open.svg', fill: color($iconColor alpha(70%)));
	}
	.postContent, .postAttachments, .poll{
		display: block;
	}
}

.summaryWrap, .realSummaryWrap{
	padding: 13px 10px 0;
	border-bottom: solid 1px $wallPostSeparator;

	.summary{
		color: $boldHeaders;
		font-weight: bold;
		padding: 3px 0 4px;
		float: left;
		.auxText{
			font-weight: normal;
			color: $text;
		}
	}
	.auxLinks{
		float: right;
		padding: 3px 0 4px;
	}
	&.noPadTop{
		padding-top: 0;
	}
}

.bottomSummaryWrap, .realBottomSummaryWrap{
	padding: 0 10px 13px;
	border-top: solid 1px $wallPostSeparator;
}

.summaryWrap, .bottomSummaryWrap{
	&:after{
		content: ' ';
		clear: both;
		height: 0;
		display: block;
	}
	&.noSidePadding{
		padding-left: 0;
		padding-right: 0;
	}
}

.boxLayer .summaryWrap, .boxLayer .bottomSummaryWrap{
	padding-left: 0;
	padding-right: 0;
	margin: 0 10px;
}

textarea{
	line-height: 13px;
	min-height: 47px;
}

.hasJS .wallPostForm.collapsed textarea{
	min-height: 21px;
	height: 21px;
}

.profileColumnBorder{
	position: relative;
	.leftColumnBorder, .rightColumnBorder{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	.leftColumnBorder{
		border-right: solid 1px $blockUnderboxBackground;
	}
	.rightColumnBorder{
		border-left: solid 1px $blockUnderboxBackground;
	}
}

.loadRepliesLink{
	display: block;
	padding-left: 24px;
	margin-top: -5px;
	margin-left: 15px;
	height: 26px;
	line-height: 26px;
	background: svg-load('img/load_replies.svg', stroke: color($iconColor alpha(70%))) no-repeat left center;
	background-size: 16px;
	.loader{
		display: inline-block;
	}
}

.poll{
	max-width: 400px;
	padding: 6px 0 3px;
	label{
		display: block;
		padding: 3px 0 0 16px;
		cursor: pointer;
		input{
			vertical-align: -3px;
			margin-left: -16px;
		}
	}
	form{
		padding: 3px 0;
	}
	input[type=submit]{
		margin: 5px 0;
	}
	.pollResultRow{
		margin: 10px 0;
		.pollResultBarW{
			display: flex;
			margin-top: 2px;
			line-height: 15px;
		}
		.pollResultPercent{
			width: 45px;
			font-weight: bold;
			text-align: right;
		}
		.pollResultBarBG{
			background-color: $bgGrey;
			height: 15px;
			position: relative;
			flex-grow: 1;
		}
		.pollResultNumVotes{
			position: absolute;
			text-align: center;
			color: $auxiliaryBlockHeader;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.pollResultBarFG{
			background-color: $blockBackground;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transform-origin: 0;
		}
		&.userChoice .pollResultNumVotes{
			background: svg-load('img/poll_check.svg', fill: $auxiliaryBlockHeader) no-repeat;
			background-position: right 3px top 2px;
			opacity: .7;
		}
	}
}

.emptyState{
	text-align: center;
	font-size: 13px;
	height: 276px;
	border: solid 1px #bcbcbc;
	color: $darkGrey;
	background-color: $bgGrey;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
}

.boxContent .emptyState{
	height: auto;
	padding: 50px 0;
	border: none;
	background: none;
}

.pollResultRowW{
	position: relative;
	.popoverPlaceW{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		.popoverPlace{
			height: 100%;
		}
	}
}

.leftReminder{
	width: 118px;
	text-align: center;
	background-color: $bgGrey;
	padding: 10px;
	margin-top: 10px;
	h3{
		font-size: 12px;
		margin-bottom: 3px;
		padding-bottom: 3px;
	}
}

.expandableText>label{
	font-weight: bold;
	opacity: .8;
	transition: opacity .15s ease;
	&:hover{
		opacity: 1;
	}
}

.navbar{
	padding: 7px 10px;
	line-height: 140%;
	background: $blockBackground;
	font-weight: bold;
	color: $boldHeaders;

	.auxText{
		color: $auxiliaryBlockHeader;
	}
}

.sendFriendReqForm{
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: 23px;
	textarea{
		width: 100%;
	}
}

label.pretendLink{
	color: $normalLink;
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}

@keyframes progressAnim{
	from{
		background-position: 0 0;
	}
	to{
		background-position: -10px 0;
	}
}

/* disclaimer: this abuses CSS way too much */
/* I'm so going to hell for this */
.progressBar{
	width: 252px;
	background: $bg;
	overflow-x: hidden; /* clip part of the outline of .progress protruding to the left */
	>.inner{
		border: solid 1px #ccc;
		border-left-color: $headerBorderTop; /* needed because that part of the border ends up translated and clipped */
		>.progress{ /* this translates to the left to clip the progress bar itself, also provides top-right-bottom border */
			transform-origin: top left;
			transition: transform .2s ease-in-out;
			outline: solid 1px $headerBorderTop;
			overflow-x: hidden;
			transform: translateX(-100%);
			>.progressInner{ /* this translates to the right to compensate for the translation of the parent element so background stays steady */
				transform-origin: top left;
				transition: transform .2s ease-in-out;
				height: 18px;
				background: linear-gradient(to top, $buttonGradientBottom, $buttonGradientTop) repeat-x top;
				background-size: 1px 42px;
				background-position: 0 -16px;
				box-shadow: 0 1px 0 $buttonBorderTop inset;
				position: relative;
				transform: translateX(100%);
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, .1) 50%) repeat-x;
					background-size: 10px 42px;
					animation: progressAnim 1s linear infinite;
				}
			}
		}
	}
	&.small{
		width: 112px;
		>.inner>.progress>.progressInner{
			height: 8px;
		}
	}
	&.empty>.inner{
		border-left-color: #ccc;
		>.progress{
			opacity: 0;
		}
	}
}

.fixLineHeight{
	line-height: 13px;
}

.dateTimeInput{
	.separator{
		line-height: 21px;
		padding: 0 5px;
	}
}

.calendarHeader{
	background: $headerGradientBottom;
	color: $textOnAccent;
	height: 29px;
	line-height: 27px;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 10px;
	border: solid $headerBorderBottomDark;
	border-width: 1px 0;
}

#calendarArrows, #calendarProgress{
	width: 32px;
	height: 27px;
	margin-left: 10px;
}
#calendarArrows{
	padding: 0 1px;
	a{
		width: 15px;
		height: 27px;
		float: left;
		span{
			width: 4px;
			height: 7px;
			display: inline-block;
			background: svg-load('img/arrows_lr.svg', fill: $textOnAccent) no-repeat;
			margin-bottom: 1px;
		}
		.arrL{
			margin-left: 7px;
		}
		.arrR{
			margin-left: 4px;
			background-position: -5px 0;
		}
	}
}

.calendarSubheader{
	text-align: center;
	height: 18px;
	line-height: 18px;
	color: $normalLink;
	background-color: $wallCommentSeparator;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.calendarContent{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	border: solid $wallPostSeparator;
	border-width: 0 1px 1px 0;
	.calendarCell{
		border: solid $wallPostSeparator;
		border-width: 1px 0 0 1px;
		height: 96px;
		position: relative;
		&.weekend{
			background-color: $gray;
		}
		.day{
			float: left;
			width: 19px;
			text-align: center;
			color: $auxiliaryGrey;
			padding-top: 3px;
		}
		&.today{
			background: color($blockBackground alpha(50%));
			.day{
				float: none;
				font-weight: bold;
				width: 100%;
				color: $normalLink;
			}
		}
		.calendarEventsPics{
			width: 50px;
			margin: auto;
			position: absolute;
			top: 22px;
			left: 0;
			right: 0;
			.avaImage{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&.count1 .ava{
				width: 50px;
				height: 50px;
			}
			&.count2{
				.ava{
					width: 24px;
					height: 50px;
				}
				.ava0{
					margin-right: 2px;
				}
			}
			&.count3{
				.ava0{
					width: 24px;
					height: 50px;
					margin-right: 2px;
					float: left;
				}
				.ava1, .ava2{
					width: 24px;
					height: 24px;
				}
				.ava1{
					margin-bottom: 2px;
				}
			}
			&.count4{
				.ava{
					width: 24px;
					height: 24px;
				}
				.ava0, .ava2{
					margin: 0 2px 2px 0;
				}
			}
		}
		.showMore{
			position: absolute;
			bottom: 8px;
			left: 0;
			right: 0;
			display: block;
			text-align: center;
			font-size: 9px;
		}
	}
}

.rightNavigationWrap{
	display: flex;
	.rightNavigationContent{
		flex-grow: 1;
		min-width: 0;
	}
	.rightNavigation{
		margin: 10px;
		width: 150px;
		flex-shrink: 0;
		.navItem{
			display: block;
			line-height: 13px;
			padding: 5px 8px;
			&:hover{
				text-decoration: none;
				background-color: $blockBackground;
			}
			&.selected{
				background: $headerBorderBottomLight;
				color: $bg;
				padding: 4px 7px;
				border: solid 1px $tabBackground;
			}
		}
	}
	&.gray .rightNavigation{
		margin-left: 0;
	}
}

.heavyBoxWrap{
	background: $gray;
	padding: 34px 0;
}

.heavyBox{
	width: 488px;
	margin: auto;
	background: $bg;
	border: solid 1px $textAreaBorder;
	box-shadow: 0 0 0 12px $wallPostSeparator inset, 0 4px 0 -2px rgba(0, 0, 0, .05);
	padding: 32px;
}

.buttonBar{
	>.button, >button, >input{
		margin-right: 10px;
	}
}

.feedDateHeader{
	background-color: $bgGrey;
	margin: 0 -10px 10px -10px;
	padding: 5px 8px 4px;
	font-size: 9px;
	font-weight: bold;
	color: $auxiliaryGrey;
	border-bottom: solid 1px $sectionHeaderBorder;
	&:first-child{
		margin-top: -10px;
	}
}

.feedRow+.feedDateHeader{
	margin-top: -6px;
}

.feedDateHeader+.feedPostRow>.post:first-child{
	padding-top: 0;
}

.feedRowUsers{
	display: flex;
	padding-bottom: 5px;
}

.feedRowUser{
	width: 60px;
	max-width: 60px;
	margin: 15px 5px 0 0;
	.ava{
		display: block;
		margin: auto;
		width: 50px;
	}
}

.feedRowUserName{
	text-align: center;
	font-size: 10px;
	padding-top: 2px;
	overflow: hidden;
}

.graffitiDrawAreaWrap{
	border: solid 1px $sectionHeaderBorder;
	background-color: #fff;
	width: 588px;
	height: 295px;
	position: relative;
	>*{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

.graffitiControls{
	padding: 0 12px;
	height: 68px;
	display: flex;
	align-items: center;
	label{
		text-align: right;
		padding-right: 8px;
		padding-left: 25px;
	}
	.colorBtn{
		display: flex;
		flex-direction: column;
		margin-left: 5px;
		svg{
			fill: $wallPostSeparator;
			stroke: $textAreaBorder;
			stroke-width: 1px;
		}
		&:hover svg{
			fill: none;
		}
		.colorPreview{
			width: 13px;
			height: 13px;
			border-radius: 1px;
			border: solid 1px rgba(0,0,0,.1);
			margin: 2px auto 4px;
		}
	}
	input[type=range]{
		width: 101px;
		height: 16px;
		padding-top: 8px;
		margin: 0;
		-webkit-appearance: none;
		background: svg-load('img/graffiti_slider_bg.svg', fill: #e4e4e4, stroke: #bfbfbf) no-repeat top center;
		&::-webkit-slider-runnable-track{
			-webkit-appearance: none;
			height: 11px;
		}
		&::-moz-range-track{
			height: 11px;
		}
		&::-ms-track{
			height: 11px;
		}
		&::-webkit-slider-thumb{
			-webkit-appearance: none;
			width: 8px;
			height: 11px;
			background: $wallPostSeparator;
			border: solid 1px $textAreaBorder;
			margin-top: 1px;
		}
		&::-moz-range-thumb{
			box-sizing: border-box;
			width: 8px;
			height: 11px;
			background: $wallPostSeparator;
			border: solid 1px $textAreaBorder;
			border-radius: 0;
		}
		&::-ms-thumb{
			box-sizing: border-box;
			width: 8px;
			height: 11px;
			background: $wallPostSeparator;
			border: solid 1px $textAreaBorder;
			border-radius: 0;
		}
	}
}

.graffitiEditorInner{
	position: relative;
	.colorPickerWrap{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.colorPicker{
		border: solid 5px rgba(241,241,241,.85);
		border-radius: 2px;
		@include popup-shadow;
		display: grid;
		grid-gap: 1px;
		grid-template-columns: repeat(18, 13px);
		position: absolute;
		padding: 1px;
		left: 75px;
		top: 185px;
		>div{
			width: 13px;
			height: 13px;
			outline: solid 1px #000;
			&:hover{
				outline: solid 1px #fff;
				z-index: 1;
			}
		}
	}
}

.summaryLinks{
	padding: 3px 0 4px;
}

.reportFormHeader{
	margin: 10px 0;
	.ava{
		margin-right: 10px;
	}
}

.listItemWithDivider{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px $wallPostSeparator;
	&:last-child{
		padding-bottom: 0px;
		margin-bottom: 0;
		border-bottom: none;
	}
	p:first-child{
		margin-top: 0;
	}
	p:last-child{
		margin-bottom: 0;
	}
}

.adminInfoGrid{
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 10px;
	>.spanAll{
		grid-column-start: span 3;
	}
}

.borderBottom{
	border-bottom: solid 1px $wallPostSeparator;
}

.searchFieldWrap{
	.searchField{
		width: 100%;
		background: svg-load('img/search_icon.svg', fill: color($iconColor alpha(65%))) no-repeat 6px 50%, $bg;
		padding-left: 21px;
		height: 25px;
	}
}

.withRightColumnFilters{
	display: flex;
	.leftColumn{
		flex: 1;
		min-width: 0;
		padding: 10px;
	}
	.filters{
		width: 157px;
		padding: 10px;
		flex-grow: 0;
		flex-shrink: 0;
		background: $gray;
		border-left: solid 1px $wallPostSeparator;
		.filterItem{
			display: block;
			line-height: 13px;
			padding: 5px 10px;
			&:hover{
				text-decoration: none;
				background: $blockBackground;
			}
			&.selected{
				color: $textOnAccent;
				background: $headerGradientBottom;
				border: solid 1px $headerBorderBottomDark;
				padding: 4px 9px;
			}
		}
		hr{
			border: none;
			border-bottom: solid 1px $wallPostSeparator;
			margin: 10px 0;
		}
		.filterFieldBlock{
			margin: 10px 0;
			label{
				display: block;
				font-weight: bold;
				color: $grayText;
				padding-bottom: 5px;
			}
			input, select{
				width: 100%;
			}
		}
	}
}

.forceLineHeight{
	line-height: 13px;
}

.layerContent{
	overflow-y: scroll;
	max-height: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	transform-origin: 50% 33%;
}

.snackbarWrap{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 10px 0;
	z-index: 115;
	pointer-events: none;
	.snackbar{
		background: rgba(0, 0, 0, 0.75);
		border-radius: 5px;
		box-shadow: 0 2px 15px #888;
		padding: 15px;
		width: 410px;
		text-shadow: 0px 1px 0px #262626;
		line-height: 160%;
		font-size: 12px;
		color: #FFF;
		backdrop-filter: saturate(180%) blur(3px);
		pointer-events: all;
	}
}

.threadedIndented{
	padding-left: calc(var(--indent-level) * 16px);
	position: relative;
	.depthIndicator{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: calc(var(--indent-level) * 16px);
	}
	&:hover .depthIndicator{
		background: svg-load('img/comments_tree_indent.svg', fill: $wallPostSeparator, stroke: $wallPostSeparator) center left -5px repeat-x;
	}
}

.privacySettingsForm{
	display: grid;
	grid-template-columns: auto 260px;
	grid-gap: 13px;
	padding: 10px 0;
	>*{
		min-width: 0;
	}
	.settingLabel{
		text-align: right;
	}
	.settingValue{
		position: relative;
	}
}

.tokenInput{
	border: solid 1px $textAreaBorder;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 2px 0;
	input{
		border: none;
		padding: 0;
		min-height: 16px;
		padding-left: 2px;
		flex-grow: 1;
		margin: 2px 0 0 2px;
	}
	.token{
		height: 16px;
		line-height: 16px;
		padding: 0 18px 0 3px;
		background: $wallPostSeparator;
		margin: 2px 0 0 2px;
		position: relative;
		max-width: calc(100% - 4px);
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		.remove{
			display: block;
			width: 16px;
			height: 16px;
			background: svg-load('img/tag_remove.svg') no-repeat center;
			position: absolute;
			right: 2px;
			top: 0;
		}
		&.selected{
			background: $normalLink;
			color: $textOnAccent;
		}
	}
}

.completionsContainer, .tokenInput{
	position: relative;
	.completionsWW{
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 10;
	}
	.completionsW{
		position: relative;
		width: 100%;
	}
	.completions{
		position: absolute;
		top: 0;
		left: -1px;
		right: -1px;
		overflow-y: auto;
		max-height: 250px;
		opacity: 0.95;
		background: #FFF;
		@include popup-shadow;
		.completion{
			color: #000000;
			padding: 4px 0 3px 10px;
			list-style-type: none;
			border: 1px solid #CCC;
			border-top: solid 1px transparent;
			cursor: pointer;
			margin: -1px 0 0 0;
			overflow: hidden;
			text-align: left;
			line-height: 1.18em;
			min-height: 22px;
			position: relative;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				border-bottom: solid 1px transparent;
			}
			&.selected{
				background: #6c8300;
				color: #FFFFFF;
				border-color: #2e6200;
				z-index: 1;
				b{
					background: $normalLink;
				}
			}
			&.withAvatar{
				padding: 5px;
				line-height: 15px;
				.ava{
					float: left;
					margin-right: 7px;
				}
			}
			.secondaryText{
				opacity: 0.56;
			}
			b{
				background: $wallPostSeparator;
			}
		}
	}
	.bordersOverlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		margin: 0 -1px;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		opacity: 0.95;
		&.firstSelected{
			border-top: solid 1px #2e6200;
		}
		&.lastSelected{
			border-bottom: solid 1px #2e6200;
		}
	}
}

.privacyExtendedBox{
	>*{
		margin-bottom: 10px;
	}
	>*:last-child{
		margin-bottom: 0;
	}
	padding-left: 20px;
	.plusFriends, .minusFriends{
		display: block;
		float: left;
		margin: 2px 0 0 -17px;
		width: 10px;
		height: 10px;
		background: svg-load('img/privacy_plus_minus.svg', fill: $iconColor) no-repeat;
	}
	.minusFriends{
		background-position: 0 -10px;
	}
}

.friendSelectionBoxContent{
	height: 420px;
	overflow-y: auto;
	.inner{
		display: flex;
	}
	.separator{
		width: 1px;
		margin-left: -1px;
		background: $blockBorderBottom;
		align-self: stretch;
		min-height: 420px;
	}
	.list{
		width: 50%;
		padding: 10px;
		h3{
			padding: 6px 10px 4px;
		}
		.row{
			display: flex;
			padding: 10px 7px 10px 10px;
			border-bottom: solid 1px $menuItemsSeparator;
			align-items: center;
			cursor: pointer;
			&:last-child{
				border-bottom: none;
			}
			.ava{
				margin-right: 10px;
			}
			.name{
				height: 13px;
				line-height: 13px;
				margin-right: 5px;
				flex: 1;
				font-weight: bold;
				color: $normalLink;
				user-select: none;
			}
			.icon{
				width: 12px;
				height: 12px;
			}
		}
		&.allFriends .icon{
			background: svg-load('img/plus_12px.svg', fill: $textAreaBorder) no-repeat;
		}
		&.selectedFriends .icon{
			background: svg-load('img/box_close.svg', fill: $textAreaBorder) no-repeat;
		}
	}
}

.mailMessageRow{
	display: grid;
	padding: 0 10px;
	grid-template-columns: 50px 140px 1fr auto;
	align-items: center;
	border-bottom: 1px solid $wallCommentSeparator;
	>*{
		min-width: 0;
	}
	>a:hover{
		text-decoration: none;
	}
	.time{
		color: $auxiliaryGrey;
		font-size: 9px;
	}
	.msgInfo{
		padding-left: 10px;
	}
	.msgContent{
		padding: 0 15px;
		line-height: 150%;
	}
	.msgInfo, .msgContent{
		align-self: stretch;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.avaW{
		margin: 10px 0;
	}
	.text{
		color: #a4ab3b;
	}
	&:last-child{
		border-bottom: 0;
	}
	&.unread{
		background: #fef8ee;
		border-bottom-color: $wallPostSeparator;
		.time{
			color: #949760;
		}
	}
	&.deleted{
		background: #FEFAE4;
		border-bottom: 1px solid #E2DAA6;
		color: #908851;
		min-height: 71px;
		.restore{
			grid-column-start: 3;
			padding: 0 15px;
			.loader{
				height: 13px;
			}
		}
	}
}

h2, h3, h4{
	.flR{
		color: $text;
		font-size: 11px;
		font-weight: normal;
		padding-left: 5px;
	}
}

.lower{
	text-transform: lowercase;
}

.mailMessageView{
	h2{
		margin-bottom: 4px;
	}
	.time{
		color: $auxiliaryGrey;
		font-size: 9px;
		margin: 2px 0 15px;
	}
	.messageViewHeader{
		display: grid;
		grid-template-columns: 50px auto 1fr;
		grid-gap: 0 10px;
		line-height: 15px;
		margin-bottom: 10px;
		.avaW{
			grid-row: 1 / 20;
		}
		.label{
			grid-column-start: 2;
			color: $auxiliaryGrey;
		}
	}
	.mailMessageForm{
		margin-top: 10px;
	}
	.postAttachments{
		padding-top: 0;
		margin-top: 10px;
	}
}

.mailMessageComposeForm{
	.subjectField{
		width: 100%;
	}
}

.mailMessageForm{
	border: none;
	background: none;
	padding: 0;
}

#mailHistoryWrap{
	padding: 0;
	border-top: solid 1px $wallPostSeparator;
	>.loader{
		height: 49px;
	}
}

#mailShowHistory{
	display: block;
	text-align: center;
	padding: 18px 10px;
}

.mailHistory{
	width: 465px;
	margin: auto;
	padding-bottom: 10px;
	.summaryWrap{
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 5px;
	}
	.bottomSummaryWrap{
		padding: 0;
		margin-top: 5px;
	}
	.messageRow{
		display: grid;
		grid-template-columns: 1fr 300px 50px;
		grid-gap: 10px;
		padding: 5px;
		&.unread{
			background: #fef8ee;
		}
		>*{
			min-width: 0;
		}
		>.name{
			text-align: right;
			font-weight: bold;
			a{
				display: block;
			}
			&.self a{
				color: #a4ae46;
			}
		}
		>.content{
			line-height: 130%;
			p:first-child{
				margin-top: 0;
			}
			p:last-child{
				margin-bottom: 0;
			}
			.postAttachments .aspectWrapper .pseudoImage{
				max-width: 200px;
			}
		}
		>.time{
			text-align: right;
			a{
				color: #999;
			}
		}
	}
}

.tooltipOuter{
	position: relative;
	margin: auto;
	width: 1px;
	pointer-events: none;
	.tooltip{
		position: absolute;
		bottom: 2px;
		left: -18px;
		width: max-content;
		user-select: none;
		padding-bottom: 4px;
		background: svg-load('img/tt_tip.svg', fill: rgba(0, 0, 0, 0.7)) no-repeat;
		background-position: 15px 100%;
		.tooltipInner{
			color: #fff;
			line-height: 20px;
			background: rgba(0, 0, 0, 0.7);
			border-radius: 3px;
			padding: 0 7px;
			height: 21px;
			font-weight: bold;
		}
	}
}

.gridWithItemTitles{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 5px;
	.itemTitle{
		text-align: right;
		color: $grayText;
	}
}

a.clickableListItem{
	border-bottom: solid 1px $wallPostSeparator;
	padding: 10px;
	color: $text;
	&:hover{
		text-decoration: none;
		background-color: color($blockBackground a(30%));
	}
	&:last-child{
		border-bottom: none;
	}
}

.aBunchOfButtons{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -5px;
	>*{
		margin: 0 5px 5px 0;
	}
}

.secondaryTabBar{
	background: $gray;
	border-bottom: solid 1px #dde6c7;
	padding: 13px 10px 12px;
	display: flex;
	flex-wrap: wrap;
	a{
		padding: 3px 8px 4px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: bold;
		border-radius: 2px;
		margin-right: 10px;
		&:hover{
			text-decoration: none;
			background: $blockBackground;
		}
		&.selected{
			background: $tabBackground;
			color: #fff;
		}
	}
}

.boxContent .secondaryTabBar{
	position: sticky;
	top: 30px;
	z-index: 2;
}

.noPostFormBackgrounds .wallPostForm{
	background: none;
	border: none;
	padding: 0;
}

.wallRepostForm{
	padding: 15px;
	h2{
		border: none;
	}
}

.tabbedContent{
	display: flow-root;
}

.ajaxEndlessPagination{
	text-align: center;
	a{
		display: block;
		padding: 10px;
		border-top: solid 1px transparent;
		&:hover{
			text-decoration: none;
			background: $blockBackground;
			border-top: solid 1px $wallPostSeparator;
		}
	}
	.loader{
		display: block;
		width: 100%;
		height: 34px;
	}
}

.userGridW .ajaxEndlessPagination{
	margin: 0px 20px 15px;
}

.repostBoxEmbed{
	textarea{
		width: 100%;
		height: 50px;
		font-family: monospace;
	}
	iframe{
		width: 100%;
		border: none;
	}
}

.userHoverCard{
	display: flex;
	width: 350px;
	padding: 10px;
	>.ava{
		flex: none;
		margin-right: 10px;
	}
	.mutuals{
		display: flex;
		>.ava{
			flex: none;
			margin-right: 5px;
		}
	}
}

.simpleLayer{
	background: $bg;
	border-radius: 2px;
	@include layer-shadow;
}

.layerWithTitle{
	width: 642px;
	.layerTitle{
		height: 46px;
		display: flex;
		padding: 0 20px;
		align-items: center;
		.title{
			flex-grow: 1;
			font-size: 13px;
			color: $boldHeaders;
			font-weight: bold;
			padding-right: 10px;
		}
		.close{
			flex: none;
		}
	}
}

.remoteInteraction{
	padding: 0 20px 20px;
	line-height: 130%;
	form{
		margin-top: 5px;
		display: flex;
		input[type=text]{
			flex-grow: 1;
			padding: 0 8px;
		}
		input[type=submit]{
			flex: none;
			margin-left: 10px;
		}
	}
	.services{
		margin-top: 8px;
		line-height: 16px;
		opacity: 0.53;
		img{
			margin: 0 8px;
			vertical-align: middle;
		}
	}
}

.hoverCardContainer{
	position: relative;
}

.commentHoverCard{
	width: 448px;
	.comment{
		padding: 10px;
	}
}

