$imgAreaSelectorMarkerSize: 10px;
$imgAreaSelectorMarkerBorderRadius: 2px;
$mobile: false;
$siteWidthWide: 1280px;
$siteWidthNarrow: 791px;
$leftMenuWidth: 147px; /* from the left edge of the header to the left edge of the content area */
$headerHeight: 40px;

@import "common.scss";

@svg-load popoverArrowTop url(img/popover_arrow_top.svg) {
	polygon[fill=red]{
		fill: $simpleButton;
	}
	polygon[fill=lime]{
		fill: $headerBorderBottomDark;
	}
}

@svg-load popoverArrowBottom url(img/popover_arrow_btm.svg) {
	polygon[fill=red]{
		fill: $bg;
	}
	polygon[fill=lime]{
		fill: $darkerGray;
	}
}

body, p, textarea, input, select{
	font-family: Tahoma, Helvetica, Arial, Roboto, sans-serif;
	font-size: 11px;
}

body{
	background: $bg;
	margin: 0;
}

a:hover, a:visited:hover, .link:hover{
	text-decoration: underline;
}

h2{
	color: $boldHeaders;
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	padding-bottom: 2px;
	border-bottom: solid 1px $mainHeaderSeparator;
}

.headerWrap{
	position: relative;
	height: $headerHeight;
	padding: 0 8px;
}

.header{
	color: $textOnAccent;
	position: absolute;
	top: 0;
	left: 12px;
	right: 12px;
	height: $headerHeight;
	padding-right: 12px;
	margin: 0 -8px;
	.logo{
		img{
			margin: 0 8px 1px 4px;
			vertical-align: middle;
		}
		a{
			display: inline-block;
			width: 100%;
			color: $textOnAccent;
			font-weight: bold;
			line-height: $headerHeight;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			vertical-align: top;
			&:hover, &:visited:hover{
				text-decoration: none;
			}
		}
	}
	a.nav{
		color: $textOnAccent;
		font-weight: bold;
		display: inline-block;
		line-height: $headerHeight;
		height: $headerHeight;
		padding: 0 8px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		vertical-align: top;
		text-transform: lowercase;
	}
	a.nav:hover, a.nav:visited:hover{
		text-decoration: none;
		background: rgba(0, 0, 0, .2);
	}
	td{
		vertical-align: top;
	}
}

.headerBG{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $headerGradientBottom;
	background: linear-gradient(to bottom, $headerGradientTop, $headerGradientBottom);
	border: solid 1px $headerBorderBottomDark;
	border-top: none;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	.shadow{
		width: 100%;
		height: 6px;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 -1px 1px $headerBorderBottomLight inset;
		position: absolute;
		bottom: 0;
	}
}

.headerWrap{
	margin-left: auto;
	margin-right: auto;
}

.widePage{
	.headerWrap{
		width: $siteWidthWide;
	}
	.contentWrap{
		width: $siteWidthWide;
	}
}

.narrowPage{
	.headerWrap{
		width: $siteWidthNarrow;
	}
	.contentWrap{
		width: $siteWidthNarrow;
	}
}

.popupPage{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.header{
		padding: 0;
	}
}

.leftMenu{
	padding: 8px 8px 0 0;
	box-sizing: border-box;
	width: $leftMenuWidth;
	input{
		width: 100%;
		box-sizing: border-box;
		margin: 4px 0;
	}
	li a:not(.actionAux){
		padding-left: 11px;
	}
}

.actionList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	a{
		display: block;
		line-height: 24px;
		padding-left: 6px;
		padding-right: 6px;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
		background: $blockBackground;
		box-shadow: 0 1px 0 $blockBorderTop inset;
	}
	li.hasAux{
		display: table;
		a{
			display: table-cell;
			&.actionMain{
				width: 100%;
			}
			&.actionAux{
				color: $auxiliaryGrey;
			}
		}
	}
	li.separator{
		border-bottom: solid 1px $menuItemsSeparator;
		margin: 8px 0;
	}
}

.post{
	border-bottom: solid 1px $wallPostSeparator;
	margin-bottom: 8px;
	padding-bottom: 8px;
	.postContentWrap{
		padding: 0 8px;
	}
	.postContent{
		padding-top: 4px;
	}
}


#elevator{
	position: fixed;
	width: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.contentWrap{
	margin-left: auto;
	margin-right: auto;
}

.pageContent{
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
	overflow: hidden; /* prevent margin collapse */
	margin-right: 17px;
}

.wrap{
}

.profileBlock{
	border-collapse: collapse;
	.blockHeader{
		text-align: left;
		height: 24px;
		padding: 0 6px;
		box-shadow: 0 1px 0 $blockBorderTop inset;
		background: $blockBackground;
		a{
			color: $normalLink;
		}
	}
	.blockSubheader{
		height: 24px;
		background: $blockUnderboxBackground;
		color: $auxiliaryGrey;
		padding: 0 6px;
	}
}

.columnLayout, .singleColumn, .profileBlock .padded{
	padding: 8px;
}

.leftNarrow #right{
	padding-left: 8px;
}

.marginAfter{
	margin-bottom: 8px;
}

.marginBefore{
	margin-top: 8px;
}

.ownProfileAvaPlaceholderLabel{
	color: $grayText;
	display: inline-block;
	width: 100%;
	height: 68px;
	line-height: 68px;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.membersRow td{
	padding-top: 8px;
	font-size: 10px;
	.ava{
		margin-bottom: 8px;
	}
}

.postInfo, .postLink:link, .postLink:visited{
	padding-top: 4px;
	font-size: 10px;
	color: $grayText;
}

.commentsPreviewWrap{
	padding-left: 58px;
}

.comment{
	border-bottom: none;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 0;
}

.profileFields{
	margin: 8px;
}

table.profileFields td{
	vertical-align: top;
}

.profileFields .label{
	color: $grayText;
	width: 30%;
}

.dropOverlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 8px;
	border: dashed 2px $normalLink;
	background: color($bg alpha(90%));
	text-align: center;
	color: $normalLink;
	justify-content: center;
	flex-direction: column;
	font-size: 13px;
	display: none;
	transition: background-color 0.2s ease-in-out;
	&.over{
		background: $blockBackground;
	}
}

.fileIsBeingDragged .dropOverlay{
	display: flex;
}

.notMuchContent{
	padding: 64px 16px;
	p{
		margin-top: 0;
		margin-bottom: 16px;
	}
}

input[type=date], select{
	height: 23px;
}

*:focus{
	outline: none;
}

input[type=submit], input[type=button], button, .button, .button:link, .button:visited{
	background: linear-gradient(to bottom, $headerGradientBottom, $headerGradientTop);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border: solid 1px $headerBorderTop;
	border-radius: 2px;
	color: $textOnAccent;
	box-shadow: 0 1px 0 $buttonBorderTop inset;
	cursor: pointer;
	padding: 0 10px;
	height: 24px;
	line-height: 22px;
	display: inline-block;
	box-sizing: border-box;
	&.loading, &.loading:hover{
		background: url(/res/loader_overlay.svg), linear-gradient(to bottom, $headerGradientBottom, $headerGradientTop);
	}

	&:hover, &:visited:hover{
		text-decoration: none;
		background: linear-gradient(to bottom, color($headerGradientBottom lightness(+7%)), color($headerGradientTop lightness(+7%)));
		box-shadow: 0 1px 0 color($buttonBorderTop lightness(+7%)) inset;
	}
	&:active{
		text-decoration: none;
		background: $headerBorderTop;
		box-shadow: none;
		padding-top: 1px;
	}
	&.secondary{
		background: linear-gradient(to bottom, $gray, color($gray shade(10%)));
		text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
		border: solid 1px color($gray shade(20%));
		color: $auxiliaryGrey;
		box-shadow: 0 1px 0 color($gray lightness(+10%)) inset;
		&.loading, &.loading:hover{
			background: url(/res/loader_overlay.svg), linear-gradient(to bottom, $gray, color($gray shade(10%)));
		}
		&:hover{
			text-decoration: none;
			background: linear-gradient(to bottom, color($gray lightness(+3%)), color($gray shade(5%)));
			box-shadow: 0 1px 0 color($gray lightness(+13%)) inset;
		}
		&:active{
			text-decoration: none;
			background: color($gray shade(20%));
			box-shadow: none;
		}
	}
}

select{
	background-image: svg-load("img/select_arrows.svg");
	background-repeat: no-repeat;
	background-position: center right;
	padding: 0 16px 0 4px;
}

.tabbar{
	border-bottom: solid 1px $tabBackground;
	padding: 8px 8px 0 8px;
	height: 33px;
	a{
		display: inline-block;
		padding: 0 8px 0 8px;
		margin-right: 2px;
		border-radius: 4px 4px 0 0;
		line-height: 24px;
		float: left;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
		background: $blockBackground;
	}
	a.selected, .a.selected:hover, a.selected:visited:hover{
		background: $tabBackground;
		color: $textOnAccent;
	}
}

.friendsRow{
	padding-bottom: 8px;
	border-bottom: solid 1px $wallPostSeparator;
	margin-bottom: 8px;
	border-spacing: 0;
	.info{
		padding: 16px;
	}
	blockquote{
		margin: 8px 0;
		padding: 8px;
		border-left: solid 2px $auxiliaryGrey;
	}
	.buttons{
		margin-top: 8px;
	}
}

.form{
	border-spacing: 0;
	width: 80%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	.label{
		text-align: right;
		color: $auxiliaryGrey;
		vertical-align: top;
		padding: 5px 8px 4px 8px;
		width: 30%;
	}
	tr:not(.footer) input, tr:not(.footer) select, tr:not(.footer) textarea{
		width: 100%;
	}
	td{
		padding: 0;
		padding-bottom: 8px;
	}
	.footer td{
		padding-top: 16px;
		border-top: solid 1px $mainHeaderSeparator;
	}
}

.formExplanation{
	font-size: 10px;
	color: $auxiliaryGrey;
}

.boxLayer{
	width: 500px;
	border-radius: 6px;
	overflow: hidden;
	pointer-events: auto;
	@include layer-shadow;
}

.boxTitleBar{
	background: $simpleButton;
	color: $textOnAccent;
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	font-size: 13px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding-left: 16px;
	padding-right: 64px;
	position: relative;
	.close{
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		background: svg-load("img/box_close.svg", stroke: $textOnAccent) no-repeat;
		background-position: center;
		background-size: 16px 16px;
		opacity: .5;
		transition: opacity .3s ease;
		&:hover{
			opacity: 1;
		}
	}
}

.boxButtonBar{
	height: 48px;
	background: $gray;
	border-top: solid 1px color($gray shade(10%));
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 12px;
	>input{
		margin: 0 4px;
	}
}

.boxContent{
	padding: 16px;
	background: #FFF;
	p{
		margin-top: 0;
	}
}

.settingsMessage{
	width: 60%;
	margin: 16px auto;
	border-radius: 8px;
	padding: 16px;
	border: solid 1px rgba(0, 0, 0, .1);
	background: $bg;
}

.profileBelowAva{
	background: $gray;
	border-bottom: solid 1px $darkerGray;
	text-align: center;
	padding: 22px 16px 16px 16px;
	margin-top: -6px;
	color: $textOnGray;
	.button{
		width: 100%;
		&.withText{
			margin-top: 8px;
		}
	}
}

.pagination{
	padding: 8px;
	text-align: center;
	a, span{
		padding: 8px;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
	}
	.curPage{
		background: $simpleButton;
		color: $textOnAccent;
	}
	.page{
		border-bottom: solid 1px color($simpleButton alpha(30%));
		padding-bottom: 7px;
		transition-property: border-bottom-color, border-bottom-width, padding-bottom;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		&:hover, &:visited:hover{
			border-bottom-color: color($simpleButton alpha(70%));
			border-bottom-width: 3px;
			padding-bottom: 5px;
		}
	}
}


.selfAvaOverlay{
	position: relative;
	overflow-y: hidden;
	border-radius: 4px;
	.selfAvaActions{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,.5);
		opacity: 0;
		transform: translateY(100%);
		transition: opacity 0.3s ease, transform 0.3s ease;
		a{
			color: #FFF;
		}
		a:hover, a:visited:hover{
			background: rgba(255,255,255,.2);
			box-shadow: none;
		}
	}
	&:hover .selfAvaActions{
		opacity: 1;
		transform: translateY(0);
	}
}

.highlight{
	animation: highlight 10s;
}

.dataTable{
	&.smallTable{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}


.externalInteractionGraphic{
	margin-top: 16px;
}

.externalInteractionText{
	margin: 16px;
}

.externalInteractionForm{
	width: 100%;
	max-width: 512px;
	padding: 16px;
	padding-top: 0;
	box-sizing: border-box;
	textarea{
		width: 100%;
		margin-bottom: 16px;
		box-sizing: border-box;
		vertical-align: top;
	}
}

.externalInteractionLoginForm{
	width: 100%;
	max-width: 512px;
	padding: 16px;
	padding-top: 0;
	box-sizing: border-box;
	input[type=text], input[type=password]{
		width: 100%;
		margin-bottom: 8px;
		box-sizing: border-box;
	}
	.label{
		margin-bottom: 4px;
	}
	center{
		margin-top: 8px;
	}
}

.externalInteractionImage{
	display: inline-block;
	vertical-align: top;
	.arrow{
		fill: $darkerGray;
	}
	.iconFollow .fill{
		fill: #2979FF;
	}
}

.postActions{
	display: inline-block;
	float: right;
	margin-right: -4px;
	.like .icon{
		display: inline-block;
		width: 10px;
		height: 9px;
		background: svg-load(img/post_like.svg, fill: $iconColor);
		vertical-align: middle;
		margin: -2px 0 0 4px;
		opacity: .5;
		transition: opacity 0.3s ease;
	}
	.like.liked .icon{
		opacity: 1;
	}
	a.action, a.action:link, a.action:visited{
		padding: 4px;
		border-radius: 2px;
		background-color: transparent;
		&:hover{
			background: $blockBackground;
			text-decoration: none;
		}
	}
	.counter{
		padding-left: 4px;
		font-weight: bold;
		font-size: 9px;
	}
}

.popoverPlace{
	position: relative;
}

.popover{
	position: absolute;
	font-size: 11px;
	.popoverHeader{
		background: $simpleButton;
		color: $textOnAccent;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
		font-weight: bold;
		padding: 4px 8px;
		border-radius: 4px 4px 0 0;
		border: solid 1px $headerBorderBottomDark;
		border-bottom: none;
		a, a:link, a:visited, a:hover, a:visited:hover{
			color: $textOnAccent;
			text-decoration: none;
		}
	}
	.popoverContent{
		background: $bg;
		padding: 4px 8px;
		color: $text;
		border-radius: 0 0 4px 4px;
		border: solid 1px $darkerGray;
		border-top: none;
	}
	.popoverFooter{
		background: $gray;
		border-top: solid 1px $darkerGray;
		padding: 4px 8px;
		color: $textOnGray;
	}
	.popoverArrow{
		width: 11px;
		height: 7px;
		position: absolute;
	}
	&.belowAnchor{
		padding-top: 6px;
		animation: slideFromBottom 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
		.popoverArrow{
			background: svg-inline(popoverArrowTop);
			top: 0;
		}
	}
	&.aboveAnchor{
		padding-bottom: 6px;
		animation: slideFromTop 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
		.popoverArrow{
			background: svg-inline(popoverArrowBottom);
			bottom: 0;
		}
	}
}

.likePopoverWrap .popover{
	width: 230px;
	right: 0;
	.popoverArrow{
		right: 16px;
	}
}

.likePopoverContent{
	padding: 4px 0;
	overflow-x: hidden;
	height: 40px;
	white-space: nowrap;
	font-size: 0;
	a{
		margin-right: 4px;
		display: inline-block;
		vertical-align: top;
	}
	a:last-child{
		margin-right: 0;
	}
	.self{
		display: none;
	}
}

.likeWrap>.liked+.likePopoverWrap .self{
	display: inline-block;
}

.userGrid{
	padding: 8px 8px;
}

.userGridItem{
	display: inline-block;
	width: 116px;
	padding: 8px;
	vertical-align: top;
	box-sizing: border-box;
	.name{
		text-align: center;
		padding-top: 8px;
	}
}

.radioButtonWrap{
	label{
		line-height: 16px;
	}
	input{
		vertical-align: top;
		margin-right: 4px;
	}
	margin: 8px 0;
}

.postAttachments{
	.aspectWrapper{
		position: relative;
		white-space: nowrap;
		font-size: 0;
		.pseudoImage{
			width: auto;
			height: auto;
			max-width: 510px;
			max-height: 510px;
			vertical-align: bottom;
		}
		.positioner{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			.aspectBox{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				white-space: normal;
				font-size: 11px;
				overflow: hidden;
				display: grid;
				grid-gap: 2px;
			}
		}
	}
	.aspectBox img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.aspectBox>div{
		min-width: 0;
		min-height: 0;
	}
}

.narrowWall .postAttachments .aspectWrapper .pseudoImage, .comment .postAttachments .aspectWrapper .pseudoImage{
	max-width: 330px;
}

.photoViewer{
	pointer-events: auto;
	display: flex;
	max-height: 100%;
	max-width: 100%;
	.photoViewerNavButton{
		width: 40px;
		transition: background-color .5s ease, opacity .5s ease;
		opacity: .5;
		background-position: center;
		background-repeat: no-repeat;
		&:hover{
			opacity: 1;
			background-color: rgba(0,0,0,.3);
		}
	}
	.buttonNext{
		background-image: svg-load("img/material/ic_arrow_forward.svg", fill: #FFF);
	}
	.buttonPrev{
		background-image: svg-load("img/material/ic_arrow_back.svg", fill: #FFF);
	}

	.photoWrap img{
		max-height: calc(100vh - 20px);
		max-width: calc(100vw - 100px);
		width: auto;
		height: auto;
	}
}
