$imgAreaSelectorMarkerSize: 20px;
$imgAreaSelectorMarkerBorderRadius: 10px;
$contentPadding: 8px;
$mediumWeight: 500;
$smallPadding: 8px;
$mediumPadding: 16px;

@import "common.scss";
@import "audioplayer_mobile.scss";

body, html{
	width: 100%;
	/*overflow-x: hidden;*/
}

body{
	margin: 0;
	text-size-adjust: none;
}

.pageContent{
	padding-top: 56px;
	min-height: 100vh;
}

body, p, textarea, input, select, button{
	font-family: Roboto, -apple-system, HelveticaNeue, sans-serif;
	font-size: 15px;
}

span.wideOnly{
	display: none;
}

@media (min-width: 500px){
	span.wideOnly{
		display: inline;
	}
}

.header{
	color: #000;
	background: #FFF;
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	@include medium-shadow;
	display: flex;
	.menuButton{
		width: 56px;
		height: 56px;
		flex: none;
		img{
			vertical-align: top;
			margin-top: 8px;
		}
		label, .back{
			display: block;
			width: 100%;
			height: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
		label{
			background-image: svg-load('img/material/ic_menu.svg', fill: $iconColor);
		}
		.back{
			background-image: svg-load('img/material/ic_arrow_back.svg', fill: $iconColor);
		}
	}
	.title{
		margin: 0 16px;
		flex-grow: 1;
		a{
			color: $text;
		}
		.dropdown{
			display: flex;
			.icon{
				width: 24px;
				flex: none;
				background: svg-load('img/material/arrow_drop_down_24dp_FILL0_wght400_GRAD0_opsz24.svg', fill: $iconColor) no-repeat right center;
			}
		}
	}
	#headerTitle{
		text-overflow: ellipsis;
		overflow-x: hidden;
		white-space: nowrap;
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		line-height: 56px;
	}
	.actionButton{
		width: 56px;
		height: 56px;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		flex: none;
		&.iconCW{
			background-image: svg-load('img/material/visibility_off_24px.svg', fill: $iconColor);
		}
		&.iconEdit{
			background-image: svg-load('img/material/ic_edit.svg', fill: $iconColor);
		}
		&.iconFilterList{
			background-image: svg-load('img/material/filter_list_24dp_FILL0_wght400_GRAD0_opsz24.svg', fill: $iconColor);
		}
		&.iconSettings{
			background-image: svg-load('img/material/settings_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: $iconColor);
		}
		&.iconMore{
			background-image: svg-load('img/material/ic_more_vert.svg', fill: $iconColor);
		}
	}
}

h2{
	color: $boldHeaders;
	font-weight: bold;
	font-size: 20px;
	margin: 0 -$contentPadding;
	padding: 0 8px 2px 8px;
	border-bottom: solid 1px $mainHeaderSeparator;
}

h3{
	color: $boldHeaders;
	font-weight: bold;
	margin: 0 -$contentPadding;
	padding: 0 8px 2px 8px;
	border-bottom: solid 1px $mainHeaderSeparator;
}

h4{
	color: $boldHeaders;
	font-weight: bold;
	margin: 8px -$contentPadding 2px;
	padding: 0 8px;
}

h5{
	font-size: 15px;
	font-weight: bold;
	margin: 8px 0;
}

.singleColumn{
	padding: $contentPadding;
}

.padTop{
	padding-top: $contentPadding;
}

.actionList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	a{
		display: block;
		line-height: 42px;
		padding-left: 8px;
		padding-right: 8px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	a:active, a:visited:active{
		text-decoration: none;
		background: $blockBackground;
	}
	li.hasAux{
		display: table;
		a{
			display: table-cell;
			&.actionMain{
				width: 100%;
			}
			&.actionAux{
				color: $auxiliaryGrey;
			}
		}
	}
	li.separator{
		border-bottom: solid 1px $menuItemsSeparator;
		margin: 8px 0;
	}
}

input[type=submit], input[type=button], button, .button, .button:link, .button:visited{
	appearance: none;
	background-color: $normalLink;
	border-radius: 8px;
	border: none;
	color: $textOnAccent;
	padding: 0 16px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	&.loading, &.loading:hover{
		background-image: url(/res/loader_overlay.svg);
	}

	&:active{
		text-decoration: none;
		background-color: $buttonBorder;
	}
	&.secondary{
		background-color: $blockBackground;
		color: $normalLink;
		&.loading, &.loading:hover{
			background-image: url(/res/loader_overlay.svg);
		}
		&:active{
			background: color($gray shade(20%));
		}
	}
	&:disabled{
		opacity: .5;
	}
}

input[type=text], input[type=password], input[type=email], input[type=date], input[type=time], textarea, select{
	border-radius: 4px;
	padding: 8px;
}

/*input[type=text], input[type=password], input[type=email], input[type=date], input[type=time], input[type=number], textarea, select, .prefixedInput{
	appearance: none;
	box-shadow: 0 1px 2px rgb(0 0 0 / 20%) inset, 0 -1px 0 rgb(0 0 0 / 5%) inset;
	background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
	border: none;
	border-radius: 4px;
	padding: 8px;
}*/

.prefixedInput{
	padding: 0 0 0 8px;
	border-radius: 4px;
	input[type=text]{
		padding-left: 3px;
	}
	.prefix{
		color: $auxiliaryGrey;
		padding: 8px 0;
		cursor: text;
	}
}

select{
	background: #FFF svg-load("img/material/ic_expand.svg") no-repeat center right;
}

.mainMenu{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0);
	transition: visibility .3s, background-color .3s ease;
	.inner{
		padding-bottom: 8px;
		background: $bg;
		width: 90%;
		max-width: 300px;
		height: 100%;
		overflow-y: scroll;
		transform: translateX(-100%);
		transition: transform .3s ease;
		@include layer-shadow;
		label{
			display: block;
			width: 56px;
			height: 56px;
			margin-bottom: 8px;
			background: svg-load('img/material/ic_close.svg', fill: $auxiliaryGrey) no-repeat center;
		}
	}
}

#mainMenuSearchButton{
	display: none;
	float: right;
	width: 56px;
	height: 56px;
	background: svg-load('img/material/ic_search.svg', fill: $auxiliaryGrey) no-repeat center;
}

.hasJS #mainMenuSearchButton{
	display: block;
}

#mainMenuToggler:checked+.mainMenu{
	visibility: visible;
	background-color: rgba(0,0,0,.4);
	.inner{
		transform: translateX(0);
	}
}

.post{
	padding: 12px 12px 0;
	.postHeader{
		display: flex;
		align-items: center;
		.avaW{
			width: 40px;
			flex: none;
		}
	}
	.headerRight{
		padding: 0 12px;
		.authorNameW{
			margin-bottom: 4px;
		}
		.postLink, .postLink:link, .postLink:visited{
			color: $grayText;
		}
	}
	.authorName{
		font-weight: $mediumWeight;
	}
	.postContentWrap{
		margin: 8px 0;
	}
	.postContent pre{
		overflow-x: auto;
	}
	.repostHeader{
		margin-bottom: 8px;
		.avaW{
			margin-right: 8px;
		}
		.name{
			font-weight: $mediumWeight;
		}
	}
	.postContent:not(:empty)+.repostHeader, .postAttachments:not(:empty)+.repostHeader{
		margin-top: 8px;
	}
	.postActions{
		border-top: solid 1px $wallCommentSeparator;
		.like{
			margin-left: -12px;
		}
		.share{
			margin-right: -12px;
		}
	}
	.postContentWrap:has(.postAttachments:last-child>.aspectBoxW:last-child)+.postActions{
		border-top: none;
		margin-top: -8px;
	}
	code{
		line-height: 18px;
	}
	.repostIcon, .postOwnerArrowIcon{
		display: inline-block;
		width: 10px;
		height: 12px;
		margin-right: 4px;
		position: relative;
		background: svg-load('img/repost_icons_mobile.svg', fill: $normalLink) no-repeat;
	}
	.repostIcon.mastodonStyle{
		background-position: 0 -12px;
	}
	.postOwnerArrowIcon{
		background-position: 0 -24px;
		margin: 0 5px;
		top: 1px;
	}
}

.post.comment{
	display: flex;
	.treeIndent{
		flex: none;
		width: calc(var(--indent-level) * 8px);
	}
	.commentAvaWrap{
		width: 32px;
		flex: none;
		margin-right: 8px;
	}
	.commentContentWrap{
		flex-grow: 1;
	}
	&.twoLevelIndented{
		padding-left: 32px;
	}
}

.postActions{
	display: flex;
	.action{
		flex: none;
		height: 42px;
		line-height: 42px;
		padding: 0 12px;
		min-width: 56px;
		text-align: center;
		.wideOnly{
			margin-right: 8px;
		}
	}
	.spacer{
		flex-grow: 1;
	}
	.icon{
		display: inline-block;
		vertical-align: middle;
		opacity: .5;
		background: svg-load('img/like_mobile.svg', fill: $iconColor) no-repeat;
		width: 16px;
		height: 16px;
		transition: opacity 0.3s ease;
	}
	.counter{
		margin-left: 8px;
	}
	.like.liked .icon{
		opacity: 1;
	}
	.comment .icon{
		background-position: 0 -32px;
	}
	.share .icon{
		background-position: 0 -16px;
	}
	&.standaloneLikeBar{
		height: 42px;
		.likeAvatars{
			font-size: 0;
			white-space: nowrap;
			overflow-x: hidden;
			margin-right: 8px;
			display: block;
			height: 42px;
			padding-top: 4px;
			flex-grow: 1;
			.ava{
				margin-right: 4px;
				display: inline-block;
			}
		}
	}
}

.pagination{
	padding: 8px;
	a, span{
		padding: 8px;
		display: inline-block;
	}
	a:hover, a:visited:hover{
		text-decoration: none;
	}
	.curPage{
		box-shadow: 0 1px 0 $normalLink inset, 0 4px 0 $tabBackground inset;
		color: $normalLink;
		font-weight: bold;
	}
	.page{
		box-shadow: 0 1px 0 $wallPostSeparator inset;
	}
}

.tabbar{
	height: 42px;
	width: 100%;
	overflow-x: scroll;
	position: relative;
	white-space: nowrap;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2);
	scrollbar-width: none;
	&::-webkit-scrollbar{
		display: none;
	}
	a{
		display: inline-block;
		box-sizing: border-box;
		line-height: 34px;
		padding: 4px 16px;
		&:hover{
			text-decoration: none;
		}
		&.selected{
			padding-bottom: 0;
			border-bottom: solid 4px $tabBackground;
		}
	}
}

.notificationContentWrap{
	padding: 0 0 8px 8px;
	.postInfo, .postInfo a{
		color: $grayText;
	}
}

.cardsBackdrop{
	background-color: $bgGrey;
}

.card{
	box-shadow:
		0 0.1px 0.3px rgba(0, 0, 0, 0.022),
		0 0.26px 0.9px rgba(0, 0, 0, 0.031),
		0 0.53px 1.8px rgba(0, 0, 0, 0.039),
		0 1.1px 3.7px rgba(0, 0, 0, 0.048),
		0 3px 10px rgba(0, 0, 0, 0.07);
	background: $bg;
	margin: 8px 0;
	&.padded{
		padding: 16px;
	}
}

.wallPostForm{
	textarea:not(.keepBorder){
		border: none;
	}
	.bottomBar{
		margin-top: 8px;
		display: flex;
		align-items: center;
		clear: both;
		.right{
			margin: 0 8px;
		}
		.left, .right{
			flex-shrink: 0;
		}
		.center{
			flex-grow: 1;
		}
	}
	.attachment{
		margin: 8px 4px;
		width: 96px;
		height: 72px;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		display: inline-block;
		.scrim, .progressBarFrame{
			display: none;
		}
		.deleteBtn{
			position: absolute;
			top: 0;
			right: 0;
			width: 32px;
			height: 32px;
			background-image: svg-load("img/attach_delete.svg"), radial-gradient(closest-side, rgba(0,0,0,.1), transparent);
			background-position: center;
			background-repeat: no-repeat;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.fileName{
			display: none;
		}
		&.uploading{
			.scrim{
				display: block;
				background: rgba(0,0,0,.5);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.progressBar{
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 4px;
				overflow: hidden;
				margin: 8px;
				background: rgba(0,0,0,.7);
				>.inner>.progress>.progressInner{
					background: #FFF;
				}
			}
		}
	}
}

.profileName{
	border: none;
	margin: 0;
	padding: 0;
}

.boxLayer{
	width: 100%;
	margin: 16px;
	max-width: 500px;
	border-radius: 12px;
	overflow: hidden;
	pointer-events: auto;
	align-self: flex-end;
	background: $bg;
	max-height: calc(100vh - 32px);
	@include layer-shadow;
	.boxTitleBar{
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		line-height: 56px;
		height: 56px;
		padding: 0 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.boxContent{
		padding: 0 16px;
	}
	.boxButtonBar{
		padding: 16px 4px 8px 4px;
		display: flex;
		button{
			flex-grow: 1;
			flex-basis: 0;
			margin: 0 4px;
			font-size: 17px;
			height: 48px;
			font-weight: 500;
		}
	}

	&.scrollable{
		max-height: calc(100vh - 32px);
		.boxContent{
			overflow-y: auto;
			position: relative;
			max-height: calc(100vh - 160px);
		}
		.scrollableShadowWrap{
			position: relative;
			.shadowTop, .shadowBottom{
				position: absolute;
				height: 10px;
				left: 0;
				right: 0;
				opacity: 1;
				transition: opacity .15s ease;
			}
			.shadowTop{
				top: 0;
				box-shadow:
					0 0.2px 0.2px rgba(0, 0, 0, 0.02) inset,
					0 0.4px 0.4px rgba(0, 0, 0, 0.028) inset,
					0 0.8px 0.8px rgba(0, 0, 0, 0.035) inset,
					0 1.3px 1.3px rgba(0, 0, 0, 0.042) inset,
					0 2.5px 2.5px rgba(0, 0, 0, 0.05) inset,
					0 6px 6px rgba(0, 0, 0, 0.07) inset;
			}
			.shadowBottom{
				bottom: 0;
				box-shadow:
					0 -0.2px 0.2px rgba(0, 0, 0, 0.02) inset,
					0 -0.4px 0.4px rgba(0, 0, 0, 0.028) inset,
					0 -0.8px 0.8px rgba(0, 0, 0, 0.035) inset,
					0 -1.3px 1.3px rgba(0, 0, 0, 0.042) inset,
					0 -2.5px 2.5px rgba(0, 0, 0, 0.05) inset,
					0 -6px 6px rgba(0, 0, 0, 0.07) inset;
			}
			&.scrollAtTop .shadowTop, &.scrollAtBottom .shadowBottom{
				opacity: 0;
			}
		}
	}
}

.form{
	.row{
		margin: 8px 0;
		.label{
			margin-bottom: 4px;
		}
		input:not([type=radio]):not([type=checkbox]), textarea, select, .control{
			width: 100%;
			min-height: 36px;
		}
		.formExplanation{
			display: block;
			margin-top: 4px;
			color: $auxiliaryGrey;
			font-size: 14px;
		}
	}
	.footer{
		padding-bottom: 8px;
	}
}

.friendsRow{
	border-spacing: 0;
	margin-bottom: 8px;
	.info{
		padding: 8px 0 8px 16px;
	}
	blockquote{
		margin: 8px 0;
		padding: 8px;
		border-left: solid 2px $auxiliaryGrey;
	}
	.buttons{
		input{
			float: left;
			margin: 8px 8px 0 0;
		}
	}
}

.commentContentWrap{
	position: relative;
	.postActions{
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		border: none;
		margin-right: -12px;
		.action{
			height: 24px;
			line-height: 24px;
		}
	}
	.authorNameWrap{
		margin-bottom: 8px;
	}
	.postInfo{
		margin-top: 8px;
	}
	.postLink, .postLink:visited, .actions a, .actions a:visited{
		color: $auxiliaryGrey;
	}
	.actions{
		margin-top: 4px;
		a{
			font-weight: 500;
			margin-right: 8px;
		}
	}
}

.boxLayer .optionsBoxContent{
	padding: 8px 0 0 0;
	a, a:visited{
		color: #000;
		height: 42px;
		line-height: 42px;
		padding: 0 16px;
	}
}

.wideDataTableWrap{
	overflow-x: scroll;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	table{
		width: 600px;
	}
}

.settingsMessage{
	margin: 16px;
	border-radius: 8px;
	padding: 16px;
	border: solid 1px rgba(0, 0, 0, .1);
	background: $bg;
}

.profileBelowAva{
	text-align: center;
	padding: 0 8px 16px;
	display: flex;
	.button{
		border-radius: 3px;
		font-weight: $mediumWeight;
		flex-grow: 1;
		width: 100%;
		height: 32px;
		line-height: 32px;
		font-size: 14px;
		@include popup-shadow;
		&:not(:last-child){
			margin-right: 8px;
		}
		.arrowIcon{
			display: inline-block;
			background: svg-load('img/select_arrow.svg', fill: $normalLink) no-repeat center;
			width: 10px;
			height: 32px;
			vertical-align: top;
			margin-left: 3px;
		}
	}
}

.profileFriendshipStatusText{
	color: $grayText;
	text-align: center;
	margin-bottom: 8px;
}

.profileFields{
	padding: 16px 16px 0 16px;
	.profileFieldName{
		color: $auxiliaryGrey;
		padding-bottom: 4px;
	}
	.profileFieldValue{
		padding-bottom: 16px;
		p:first-child{
			margin-top: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	.sectionHeader{
		h4{
			margin: 0;
			padding: 0;
		}
		a{
			float: right;
			margin-left: 8px;
		}
		margin-bottom: 12px;
	}
}

.postAttachments{
	margin: 8px -12px 0;
	text-align: center;
	.aspectBox{
		display: grid;
		grid-gap: 2px;
		max-height: 510px;
		margin: auto;
	}
	.aspectBoxW{
		overflow: hidden;
		max-width: 510px;
		margin: auto;
	}
	.aspectBox img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		display: block;
	}
	.aspectBox>div{
		min-width: 0;
		min-height: 0;
	}
	video{
		max-width: min(100%, 510px);
		max-height: 510px;
		margin: auto;
	}
}

.comment .postAttachments{
	margin: 8px 0 0;
}

.feedCaptionWithAva{
	line-height: 24px;
	padding: 12px 12px 0;
	img{
		vertical-align: top;
	}
	.text{
		margin-left: 8px;
	}
}

.userList{
	padding: 0 16px;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-gap: 8px 16px;
	&.noPadding{
		padding: 0;
	}
	.info{
		display: flex;
		justify-content: center;
		flex-direction: column;
		.subtitle{
			margin-top: 5px;
			color: $grayText;
		}
	}
}

.groupEditMemberList{
	padding: 8px 0;
	.groupEditMember{
		padding: 8px 0;
		&.nonReorderable{
			padding-left: 16px;
		}
		.subtitle{
			margin-top: 5px;
			color: $grayText;
		}
		.ava{
			float: left;
			margin-right: 16px;
		}
		.nameWrap{
			margin-top: 6px;
			font-weight: 500;
		}
		.moreButton{
			display: block;
			float: right;
			width: 32px;
			height: 50px;
			background: svg-load('img/material/ic_more_vert.svg', fill: $grayText) no-repeat center;
		}
	}
}

.reorderableList{
	.reorderableItem{
		transition: box-shadow .2s ease, opacity .2s ease-out;
		background: $bg;
		.draggyGrippyThing{
			width: 32px;
			height: 50px;
			float: left;
			background: svg-load('img/material/ic_reorder.svg', fill: $grayText) no-repeat center;
		}
	}
	.beingDragged .reorderableItem{
		box-shadow:
			0 0.2px 0.2px rgba(0, 0, 0, 0.02),
			0 0.4px 0.4px rgba(0, 0, 0, 0.028),
			0 0.8px 0.8px rgba(0, 0, 0, 0.035),
			0 1.3px 1.3px rgba(0, 0, 0, 0.042),
			0 2.5px 2.5px rgba(0, 0, 0, 0.05),
			0 6px 6px rgba(0, 0, 0, 0.07);
		opacity: .8;
	}
}


.postFormNonThumb{
	margin-top: 10px;
	h3{
		margin: 0 0 10px 0;
		font-size: 15px;
		color: $boldHeaders;
	}
	.attachDelete{
		display: inline-block;
		width: 32px;
		height: 32px;
		background: svg-load('img/box_close.svg', fill: $iconColor) no-repeat center;
	}
	&.postFormCW input, &.postFormPoll input[type=text]{
		width: 100%;
	}
	&.postFormCW .attachDelete, &.postFormPoll>.attachDelete{
		margin-top: -7px;
		margin-right: -8px;
	}
	&.postFormPoll .pollOptionW{
		display: flex;
		margin-top: 5px;
		.attachDelete{
			width: 36px;
			height: 36px;
			margin-left: 5px;
		}
		&.addOption{
			padding-right: 37px;
		}
	}
	.pollSetting{
		display: block;
	}
}

.postCWWrap{
	padding-top: 6px;
	.postCWButton{
		display: block;
		color: $normalLink;
		font-weight: bold;
		height: 32px;
		line-height: 32px;
		padding-left: 42px;
		background: color($blockBackground alpha(50%)) svg-load('img/flex_arrow_shut.svg', fill: color($iconColor alpha(70%))) no-repeat left 6px center;
		background-size: 30px 25.5px;
		margin: 0 -12px;
	}
	>.postContent, >.postAttachments, >.poll, >.repostHeader, >.postCWWrap{
		display: none;
	}
}

input:checked+.postCWWrap{
	>.postCWButton{
		background-image: svg-load('img/flex_arrow_open.svg', fill: color($iconColor alpha(70%)));
		margin-bottom: 12px;
	}
	>.postContent, >.postAttachments, >.poll, >.repostHeader, >.postCWWrap{
		display: block;
	}
}

textarea{
	line-height: 18px;
	min-height: 70px;
}

.hasJS .wallPostForm.collapsed textarea{
	min-height: 34px;
	height: 34px;
}

.feedRow{
	.feedIcon{
		width: 16px;
		height: 16px;
		background-size: 16px;
		float: left;
		margin: 12px 0 0 36px;
	}
	.feedRowTime{
		float: right;
		margin: 8px 8px 0 0;
		font-size: 13px;
		color: $grayText;
	}
	.feedRowContent{
		padding: 12px 0 8px 64px;
	}
}

#qsearchWrap{
	width: 100%;
	height: 100%;
	pointer-events: auto;
	position: relative;
}

#qsearchFieldWrap, #qsearchResultsWrap{
	background: $bg;
	box-shadow:
		0 0.1px 0.3px rgba(0, 0, 0, 0.022),
		0 0.26px 0.9px rgba(0, 0, 0, 0.031),
		0 0.53px 1.8px rgba(0, 0, 0, 0.039),
		0 1.1px 3.7px rgba(0, 0, 0, 0.048),
		0 3px 10px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
}

#qsearchFieldWrap{
	position: relative;
	height: 48px;
	margin: 16px;
}

#qsearchIHateCSS{
	position: absolute;
	left: 48px;
	top: 0;
	right: 0;
	bottom: 0;
}

#qsearchField{
	height: 48px;
	width: 100%;
	border: none;
	background: none;
	padding-left: 0;
	&:focus{
		outline: none;
	}
}

#qsearchClose{
	width: 48px;
	height: 48px;
	display: block;
	float: left;
	background: svg-load('img/material/ic_arrow_back.svg', fill: $auxiliaryGrey) no-repeat center;
}

#qsearchResultsWrap{
	position: absolute;
	left: 16px;
	top: calc(16px + 16px + 48px);
	right: 16px;
	bottom: 16px;
	overflow-y: auto;
}

#qsearchHint, .qsearchNoResults{
	text-align: center;
	font-size: 15px;
	padding: 32px;
	color: $auxiliaryGrey;
}

#qsearchHint, #qsearchLoader{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#qsearchLoader{
	background-size: 64px 16px;
	margin-top: 32px;
}

#qsearchResultsInner{
	position: relative;
}

#qsearchResults{
	padding: 8px 0;
}

.qsearchResult{
	display: block;
	padding: 8px 16px;
	height: 64px;
	line-height: 48px;
	.ava{
		display: block;
		float: left;
		margin-right: 16px;
	}
	&:link, &:visited{
		color: $text;
	}
}

.qsearchSection{
	padding: 8px 16px 0;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	color: $grayText;
}

.wallPostFormError{
	padding: 8px;
}

.mobileCommentForm{
	position: sticky;
	bottom: 0;
	background: $bg;
	box-shadow:
		0 -0.1px 0.3px rgba(0, 0, 0, 0.022),
		0 -0.26px 0.9px rgba(0, 0, 0, 0.031),
		0 -0.53px 1.8px rgba(0, 0, 0, 0.039),
		0 -1.1px 3.7px rgba(0, 0, 0, 0.048),
		0 -3px 10px rgba(0, 0, 0, 0.07);
	margin-top: 16px;
	form{
		display: flex;
		button{
			width: 48px;
			height: 48px;
			background: no-repeat center;
			padding: 0;
			margin: 0;
			flex-shrink: 0;
			align-self: flex-end;
			&.attachBtn{
				background-image: svg-load('img/material/ic_attachment.svg', fill: $auxiliaryGrey);
			}
			&.sendBtn{
				background-image: svg-load('img/material/ic_send.svg', fill: $iconColor);
				&.loading{
					background-image: svg-load('img/ic_loading_circular.svg', stroke: $iconColor);
				}
			}
		}
		textarea{
			flex-grow: 1;
			align-self: center;
			padding-left: 4px;
			padding-right: 4px;
			min-height: 34px;
			max-height: 106px;
			&:focus{
				outline: none;
			}
		}
	}
	.attachmentsWrap{
		overflow-x: auto;
		padding: 0 4px;
		.attachment{
			margin: 8px 4px;
			width: 96px;
			height: 72px;
			border-radius: 4px;
			overflow: hidden;
		}
		.nonThumbAttachment{
			background-color: $auxiliaryGrey;
			color: $bg;
			display: inline-flex;
			text-align: center;
			flex-direction: column;
			justify-content: center;
			font-size: 12px;
			.attTitle{
				font-weight: $mediumWeight;
				margin: 6px 0 2px;
			}
			.attContent{
				margin: 0 4px;
			}
		}
		>div{
			float: left;
		}
	}
	.mobileCommentReplying{
		background: $gray;
		color: $textOnGray;
		padding: 4px 8px;
		font-size: 13px;
		line-height: 15px;
		font-weight: $mediumWeight;
		.cancelReply{
			width: 15px;
			height: 15px;
			vertical-align: bottom;
			display: inline-block;
			margin-left: 2px;
			background: svg-load('img/close_15px.svg', stroke: $textOnGray, replace: true);
		}
	}
}

.poll{
	max-width: 400px;
	padding: 6px 0 3px;
	label{
		display: block;
		padding: 8px 0;
		cursor: pointer;
		input{
			vertical-align: -3px;
			margin-right: 6px;
		}
	}
	form{
		padding: 3px 0;
	}
	input[type=submit]{
		margin: 5px 0;
	}
	.pollResultRow{
		.pollResultBarW{
			line-height: 32px;
		}
		.pollResultPercent{
			width: 52px;
		}
		.pollResultBarBG{
			height: 32px;
			border-radius: 5px;
			overflow: hidden;
		}
		&.userChoice .pollResultNumVotes{
			background: svg-load('img/poll_check.svg', fill: $auxiliaryBlockHeader) no-repeat;
			background-position: right 6px center;
			opacity: .7;
		}
	}
}

.radioButtonWrap{
	line-height: 24px;
	display: block;
	input{
		vertical-align: top;
		margin-right: 8px;
		width: 24px;
		height: 24px;
	}
	&.disabled{
		opacity: 0.6;
	}
	margin: 8px 0;
}

.emptyState{
	text-align: center;
	padding: 48px 16px;
	color: $grayText;
}

.leftReminder{
	background-color: $bgGrey;
	margin: 16px;
	padding: 16px;
	text-align: center;
	h3{
		border: none;
		padding-bottom: 0;
		margin-bottom: 16px;
	}
}

.expandableText>label{
	font-weight: $mediumWeight;
}

.summaryWrap{
	padding: 16px 16px 0 16px;
	.summary{
		color: $boldHeaders;
		font-weight: $mediumWeight;
		.auxText{
			font-weight: normal;
			color: $text;
		}
	}
	.auxLinks{
		margin: 0 -8px;
		a{
			display: block;
			line-height: 42px;
			padding-left: 8px;
			padding-right: 8px;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		a:active, a:visited:active{
			text-decoration: none;
			background: $blockBackground;
		}
	}
}

.progressBar{
	background: $bgGrey;
	overflow-x: hidden; /* clip part of the outline of .progress protruding to the left */
	>.inner{
		>.progress{ /* this translates to the left to clip the progress bar itself, also provides top-right-bottom border */
			transform-origin: top left;
			transition: transform .2s ease-in-out;
			overflow-x: hidden;
			transform: translateX(-100%);
			>.progressInner{ /* this translates to the right to compensate for the translation of the parent element so background stays steady */
				transform-origin: top left;
				transition: transform .2s ease-in-out;
				height: 5px;
				background: $simpleButton;
				transform: translateX(100%);
			}
		}
	}
	&.empty>.inner{
		>.progress{
			opacity: 0;
		}
	}
}

.dateTimeInput{
	.separator{
		line-height: 40px;
		padding: 0 10px;
	}
}

input[type=date]::-webkit-calendar-picker-indicator{
	background: svg-inline(dateInputIcon) no-repeat center;
}

input[type=time]::-webkit-calendar-picker-indicator{
	background: svg-inline(timeInputIcon) no-repeat center;
}

.rightNavigation{
	background: $bgGrey;
	border-bottom: solid 1px $wallPostSeparator;
	padding: 8px 0 0 8px;
	.navItem{
		display: inline-block;
		padding: 8px;
		margin: 0 8px 8px 0;
		border-radius: 8px;
		&.selected{
			background: $normalLink;
			color: $textOnAccent;
		}
	}
}

.heavyBox{
	padding: 16px;
}

.marginBefore{
	margin-top: 16px;
}

.marginAfter{
	margin-bottom: 16px;
}

.smallMarginAfter{
	margin-bottom: 8px;
}

.buttonBar{
	>.button, >button, >input{
		margin: 0 8px 8px 0;
	}
}

.feedRowUsers{
	display: flex;
	padding-top: 8px;
	overflow-x: auto;
	margin-left: -8px;
}

.feedRowUser{
	width: 66px;
	max-width: 66px;
	min-width: 66px;
	overflow-x: hidden;
	.ava{
		display: block;
		margin: auto;
		margin-bottom: 4px;
		width: 50px;
	}
}

.feedRowUserName{
	text-align: center;
}

.reportFormHeader{
	margin: 16px 0;
	.ava{
		margin-right: 16px;
	}
}

.listItemWithDivider{
	margin-top: 8px;
	padding-bottom: 8px;
	border-bottom: solid 1px $menuItemsSeparator;
	&:last-child{
		border-bottom: none;
	}
	p:first-child{
		margin-top: 0;
	}
	p:last-child{
		margin-bottom: 0;
	}
}

.filters{
	padding: 0 8px 8px 0;
	hr{
		margin: 8px 0 0 8px;
		border: none;
		border-bottom: solid 1px $wallPostSeparator;
	}
	.filterItem{
		display: inline-block;
		margin: 8px 0 0 8px;
		padding: 4px 8px;
		border-radius: 3px;
		&.selected{
			color: $textOnAccent;
			background: $tabBackground;
		}
	}
}

input.searchField{
	width: 100%;
	background: svg-load('img/material/ic_search.svg', fill: $auxiliaryGrey) no-repeat 6px center, $bg;
	padding-left: 36px;
}

.adminInfoGrid{
	grid-template-columns: 1fr;
	grid-gap: 8px;
}

.layerContent{
	overflow-y: scroll;
	max-height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#boxLoader{
	align-items: center;
}

.snackbarWrap{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 16px;
	z-index: 115;
	pointer-events: none;
	.snackbar{
		background: rgba(0, 0, 0, 0.75);
		border-radius: 5px;
		box-shadow: 0 2px 15px #888;
		padding: 16px;
		width: 100%;
		max-width: 410px;
		text-shadow: 0px 1px 0px #262626;
		color: #FFF;
		backdrop-filter: saturate(180%) blur(3px);
		pointer-events: all;
		a{
			color: $iconColor;
		}
	}
}

.threadedIndented{
	padding-left: calc(var(--indent-level) * 16px);
}

.loadRepliesLink{
	display: block;
	padding-left: 24px;
	height: 32px;
	line-height: 32px;
	background: svg-load('img/load_replies.svg', stroke: color($iconColor alpha(70%))) no-repeat left center;
	background-size: 16px;
	margin: 8px 12px 0;
	.loader{
		display: inline-block;
	}
}

.privacySettingRow{
	display: block;
	padding: 16px;
	border-bottom: solid 1px $wallPostSeparator;
	.settingLabel{
		color: $text;
		margin-bottom: 8px;
	}
	.settingValue{
		color: $grayText;
		font-size: 14px;
	}
}

.compactUserRow{
	display: flex;
	align-items: center;
	padding: 8px 0;
	.name{
		min-width: 0px;
		flex: 1;
		margin: 0 8px;
	}
	.actionIcon{
		width: 32px;
		height: 32px;
		background: svg-load('img/box_close.svg', fill: $iconColor) no-repeat center;
	}
}

.privacyFriendList{
	margin-bottom: 16px;
	.selectFriends{
		display: block;
		height: 32px;
		line-height: 32px;
	}
}

.selectFriendsListBox{
	display: flex;
	flex-direction: column;
	.scrollableShadowWrap{
		flex: 1;
		max-height: calc(100vh - 180px - 32px - 100px);
	}
	.extraField{
		width: 100%;
	}
}
.selectFriendsList{
	overflow-y: auto;
	max-height: calc(100vh - 180px - 32px - 100px);
	min-height: 0;
	.row input{
		margin: 0 8px 0 12px;
	}
}

.mailMessageRow{
	display: flex;
	padding: 8px 16px;
	width: 100%;
	>*{
		min-width: 0;
	}
	.msgContent{
		flex: 1;
		margin-left: 8px;
	}
	.name, .subject{
		font-weight: $mediumWeight;
		margin-bottom: 4px;
	}
	.time{
		float: right;
		color: $grayText;
	}
	.subject, .text{
		color: $text;
	}
	&.unread{
		background: #fef8ee;
	}
}

#mailMessagesList{
	padding: 8px 0;
}

.mailMessageView{
	.messageViewHeader{
		display: flex;
		>*{
			min-width: 0;
		}
		.nameAndTime{
			flex: 1;
			margin-left: 8px;
		}
		.name{
			font-weight: $mediumWeight;
		}
		.time{
			color: $grayText;
		}
	}
	.messageViewFields{
		margin-top: 8px;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 4px;
		.label{
			color: $grayText;
		}
	}
	#msgActions{
		padding-top: 12px;
	}
}

.tokenInput{
	border: solid 1px $textAreaBorder;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 8px 0;
	border-radius: 4px;
	input{
		border: none;
		padding: 0;
		min-height: 16px;
		padding-left: 2px;
		flex-grow: 1;
		margin: 8px 0 0 8px;
	}
	.token{
		height: 16px;
		line-height: 16px;
		padding: 0 18px 0 3px;
		background: $wallPostSeparator;
		margin: 8px 0 0 8px;
		position: relative;
		max-width: calc(100% - 16px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		.remove{
			display: block;
			width: 16px;
			height: 16px;
			background: svg-load('img/tag_remove.svg') no-repeat center;
			position: absolute;
			right: 2px;
			top: 0;
		}
		&.selected{
			background: $normalLink;
			color: $textOnAccent;
		}
	}
	.bordersOverlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		margin: 0 -1px;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		opacity: 0.95;
		&.firstSelected{
			border-top: solid 1px #2e6200;
		}
		&.lastSelected{
			border-bottom: solid 1px #2e6200;
		}
	}
}

.completionsContainer, .tokenInput{
	position: relative;
	.completionsWW{
		position: absolute;
		width: 100%;
		z-index: 10;
	}
	.completionsW{
		position: relative;
		width: 100%;
	}
	.completions{
		position: absolute;
		top: 0;
		left: -1px;
		right: -1px;
		overflow-y: auto;
		max-height: 250px;
		opacity: 0.95;
		background: #FFF;
		@include popup-shadow;
		.completion{
			color: #000000;
			padding: 4px 0 3px 10px;
			list-style-type: none;
			border: 1px solid #CCC;
			border-top: solid 1px transparent;
			cursor: pointer;
			margin: -1px 0 0 0;
			overflow: hidden;
			text-align: left;
			line-height: 1.18em;
			min-height: 22px;
			position: relative;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				border-bottom: solid 1px transparent;
			}
			&.selected{
				background: #6c8300;
				color: #FFFFFF;
				border-color: #2e6200;
				z-index: 1;
			}
		}
	}
}

.tokenInput .completionsWW{
	bottom: 0;
}

.completionsContainer .completionsWW{
	top: 0;
}

.fab{
	position: fixed;
	bottom: 16px;
	right: 16px;
	display: block;
	width: 52px;
	height: 52px;
	background: $normalLink no-repeat center;
	border-radius: 50%;
	@include medium-shadow;
	&.iconPencil{
		background-image: svg-load('img/material/ic_edit.svg', fill: $textOnAccent);
	}
	&.iconAdd{
		background-image: svg-load('img/material/add_FILL0_wght400_GRAD0_opsz24.svg', fill: $textOnAccent);
	}
}

.withRightColumnFilters{
	display: flex;
	flex-direction: column-reverse;
	.leftColumn{
		padding: $contentPadding;
	}
	.filters{
		background: $gray;
		.filterFieldBlock{
			padding: $contentPadding;
			label{
				display: block;
				margin-bottom: $smallPadding;
			}
			input, select{
				width: 100%;
			}
		}
	}
}

.notMuchContent{
	padding: 16px;
}

.clickableListItem{
	border-bottom: solid 1px $wallPostSeparator;
	padding: 16px;
	color: $text;
	&:last-child{
		border-bottom: none;
	}
}

.aBunchOfButtons{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -8px;
	>*{
		margin: 0 8px 8px 0;
	}
}

.secondaryTabBar{
	background: $gray;
	border-bottom: solid 1px #dde6c7;
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
	a{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin-right: 8px;
		padding: 4px 8px;
		border-radius: 3px;
		&.selected{
			background: $tabBackground;
			color: #fff;
		}
	}
}

.wallRepostForm{
	h2{
		padding: 0;
		margin: 0 16px 8px;
		font-size: 17px;
		border: none;
	}
}

.remoteInteraction{
	padding: 0 16px 16px;
	line-height: 130%;
	form{
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		input[type=text]{
			flex-grow: 1;
		}
		input[type=submit]{
			flex: none;
			margin-top: 12px;
		}
	}
	.services{
		margin-top: 8px;
		line-height: 16px;
		opacity: 0.53;
		img{
			margin: 0 8px;
			vertical-align: middle;
		}
	}
}

.ajaxEndlessPagination{
	text-align: center;
	a{
		display: flex;
		height: 48px;
		align-items: center;
		justify-content: center;
	}
	.loader{
		display: block;
		width: 100%;
		height: 48px;
	}
}

.photoAlbumsGrid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(180px, calc((100% - (4px * 4)) / 4)), 1fr));
	grid-gap: 4px;
	a{
		aspect-ratio: 4/3;
		min-height: 0;
		overflow: hidden;
		position: relative;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
	.infoW{
		position: absolute;
		bottom: 0;
		display: flex;
		padding: 10px;
		height: 72px;
		width: 100%;
		background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.5) 100%);
		text-shadow: 0 2px 3px rgba(0,0,0,0.3);
		color: #FFF;
		font-size: 14px;
		align-items: flex-end;
	}
	.title{
		flex-grow: 1;
		font-weight: $mediumWeight;
	}
	.count{
		opacity: 0.6;
		margin-left: 8px;
		flex: none;
	}
	.empty{
		background: #eeeedd svg-load('img/material/photo_camera_fill1_48px.svg', fill: #c8c7a1) no-repeat center;
		.infoW{
			background: none;
			color: #84845a;
			text-shadow: none;
		}
		.count{
			display: none;
		}
	}
}

.photoGrid{
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(auto-fill, minmax(max(90px, calc((100% - (4px * 8)) / 8)), 1fr));
	margin-bottom: 84px;
	.photo{
		aspect-ratio: 1/1;
		min-height: 0;
		overflow: hidden;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
	.ajaxEndlessPagination, .emptyState{
		grid-column: 1/-1;
	}
}

.profileSectionThumbs{
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 8px 12px;
	display: grid;
	grid-auto-columns: 146px;
	grid-template-rows: 138px;
	grid-auto-flow: column;
	scrollbar-width: none;
	&::-webkit-scrollbar{
		display: none;
	}
	a{
		padding: 0 8px;
	}
	.titleW{
		display: flex;
		line-height: 40px;
		font-weight: $mediumWeight;
		color: $text;
	}
	.title{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.count{
		opacity: 0.5;
		margin-left: 8px;
		flex: none;
	}
	.thumb{
		width: 130px;
		height: 86px;
		background: #eed;
		border-radius: 3px;
		overflow: hidden;
	}
	.singlePhoto img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
	.avatarGrid{
		background: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 2px;
		.placeholder{
			background: #eed;
		}
		>*{
			border-radius: 0;
			&:first-child{
				border-top-left-radius: 3px;
			}
			&:nth-child(3){
				border-top-right-radius: 3px;
			}
			&:nth-child(4){
				border-bottom-left-radius: 3px;
			}
			&:last-child{
				border-bottom-right-radius: 3px;
			}
		}
		.avaImage, .avaHasImage:after{
			border-radius: 0;
		}
		.avaHasImage:first-child:after{
			border-top-left-radius: 3px;
		}
		.avaHasImage:nth-child(3):after{
			border-top-right-radius: 3px;
		}
		.avaHasImage:nth-child(4):after{
			border-bottom-left-radius: 3px;
		}
		.avaHasImage:last-child:after{
			border-bottom-right-radius: 3px;
		}
	}
	.iconWithText{
		display: flex;
		flex-direction: column;
		padding: 6px;
		justify-content: center;
		text-align: center;
		font-size: 13px;
		.icon{
			width: 24px;
			height: 24px;
			align-self: center;
		}
		.iconBoard{
			background: svg-load('img/material/forum_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: $iconColor);
		}
		.thumbTitle{
			margin: 6px 0 2px;
			font-weight: $mediumWeight;
		}
		.thumbSubtitle{
			color: $iconColor;
		}
	}
}

.photoViewer{
	background: #000;
	width: 100vw;
	height: 100%;
	position: relative;
	.pager{
		width: 100vw;
		height: 100%;
		overflow-x: scroll;
		display: flex;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
		scrollbar-width: none;
		&::-webkit-scrollbar{
			display: none;
		}
	}
	.photoW{
		width: 100vw;
		height: 100%;
		flex: none;
		scroll-snap-align: start;
		position: relative;
		overflow: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar{
			display: none;
		}
		.photo{
			position: absolute;
		}
		.photoInner{
			position: relative;
		}
		.overlayW{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		.overlayTag{
			position: absolute;
			border: solid 2px #fff;
			border-radius: 4px;
			transform: scale(calc(1.0/var(--zoom-scale)));
			transform-origin: 0 0;
			box-shadow: 0 0 6px rgba(0,0,0,0.75), 0 0 6px rgba(0,0,0,0.75) inset;
			width: calc(var(--tag-width)*var(--zoom-scale));
			height: calc(var(--tag-height)*var(--zoom-scale));
		}
		img{
			-webkit-touch-callout: none;
		}
	}
}

.pvUIW{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.pvUI{
	position: relative;
	width: 100%;
	height: 100%;
	color: #FFF;
	.pvTitleBar{
		width: 100%;
		height: 88px;
		padding-bottom: 32px;
		background: linear-gradient(#000000a0, #00000000);
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		.titleInner{
			margin: 0 16px;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40), 0px 1px 3px rgba(0, 0, 0, 0.27), 0px 2px 7px rgba(0, 0, 0, 0.13);
		}
		.title{
			font-size: 20px;
			font-weight: 500;
		}
		.subtitle{
			font-size: 14px;
			margin-top: 2px;
			opacity: 0.8;
		}
	}
	.close, .options{
		width: 56px;
		height: 56px;
		flex: none;
		pointer-events: auto;
	}
	.close{
		background: svg-load('img/material/ic_close.svg', fill: #FFF) no-repeat center;
	}
	.options{
		background: svg-load('img/material/ic_more_vert.svg', fill: #FFF) no-repeat center;
	}
	.pvBottom{
		padding-top: 32px;
		background: linear-gradient(#00000000, #000000a0);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		.description{
			padding: 0 16px 16px;
			max-height: 124px; /* 6 lines + padding-bottom */
			.pvBottomDescription{
				overflow-y: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 6;
			}
		}
		p:first-child{
			margin-top: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	.pvActions{
		display: flex;
		margin: 0 12px;
		border-top: solid 1px #ffffff44;
		pointer-events: auto;
		transition: filter 0.3s ease;
		.action{
			flex: none;
			height: 42px;
			line-height: 42px;
			padding: 0 12px;
			min-width: 56px;
			text-align: center;
			color: #fff;
			.wideOnly{
				margin-right: 8px;
			}
		}
		.spacer{
			flex-grow: 1;
		}
		.icon{
			display: inline-block;
			vertical-align: middle;
			opacity: .5;
			background: svg-load('img/like_mobile.svg', fill: #fff) no-repeat;
			width: 16px;
			height: 16px;
			transition: opacity 0.3s ease;
		}
		.counter{
			margin-left: 8px;
		}
		.counter, .wideOnly{
			opacity: .75;
			transition: color 0.3s ease;
		}
		.like.liked, .tag.active{
			filter: drop-shadow(0 0 8px $headerBorderBottomDark) drop-shadow(0 0 8px $headerBorderBottomDark) drop-shadow(0 0 8px $headerBorderBottomDark);
			.counter, .wideOnly{
				opacity: 1;
				color: $likeIconColor;
			}
			.icon{
				opacity: 1;
				background-image: svg-load('img/like_mobile.svg', fill: $likeIconColor);
			}
		}
		.comment .icon{
			background-position: 0 -32px;
		}
		.like{
			margin-left: -12px;
		}
		.tag .icon{
			background-position: 0 -48px;
		}
	}
	.pvBottomTags{
		pointer-events: all;
		margin: 0 -16px -16px;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
		scrollbar-width: none;
		padding: 16px 24px;
		display: flex;
		&::-webkit-scrollbar{
			display: none;
		}
		.tag{
			width: calc(100vw - 64px);
			height: 48px;
			flex: none;
			padding: 8px;
			color: #fff;
			background: rgba(0,0,0,.75);
			border-radius: 5px;
			backdrop-filter: saturate(180%) blur(3px);
			box-shadow: 0 2px 7px #333;
			margin: 0 8px;
			display: flex;
			align-items: center;
			scroll-snap-align: center;
			-webkit-touch-callout: none;
			img{
				margin-right: 12px;
			}
		}
	}
}

.feedRowPhotos{
	padding-top: 8px;
	margin-left: -64px;
	.feedPhotoGrid{
		display: grid;
		grid-gap: 2px;
		max-height: 510px;
		margin: auto;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.post .feedRowPhotos{
	margin-left: 0;
}

.photoPageImgW{
	max-width: 640px;
	margin: auto;
	img{
		width: 100%;
		height: 100%;
	}
}

.photoPageDescription{
	p:first-child{
		margin-top: 0;
	}
	p:last-child{
		margin-bottom: 0;
	}
}

.largeExpandButton{
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: $normalLink;
}

#photoAttach{
	.toggled .photoAlbumsGrid{
		padding-top: 4px;
		margin-bottom: 16px;
	}

	.toggled .largeExpandButton{
		margin-bottom: 16px;
	}
}

.feedFilterRow{
	padding: 0 16px;
	display: flex;
	align-items: center;
	.feedIcon{
		float: none;
		margin-right: 4px;
	}
	input, .feedIcon{
		flex: none;
	}
}

.profileInfoRows{
	list-style-type: none;
	margin: 0 -8px;
	padding: 0;
	a, .item{
		padding: 0 16px;
		height: 40px;
		display: flex;
		align-items: center;
		color: #6f6f6f;
		&.multiline{
			min-height: 40px;
			height: unset;
			align-items: flex-start;
			padding: 8px 16px;
			.text{
				margin: 3px 0;
				line-height: 18px;
				max-height: 54px;
				overflow-y: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}
		}
	}
	.showMore{
		color: $normalLink;
		font-weight: $mediumWeight;
	}
	.icon{
		width: 24px;
		height: 24px;
		flex: none;
		margin-right: 16px;
	}
	.text{
		flex-grow: 1;
	}
	.iconFriends{
		background: svg-load('img/material/group_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconFollowers{
		background: svg-load('img/material/rss_feed_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconHome{
		background: svg-load('img/material/home_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconDescription{
		background: svg-load('img/material/article_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconTime{
		background: svg-load('img/material/schedule_24dp_FILL0_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconStatus{
		background: svg-load('img/material/chat_bubble_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: #afafaf);
	}
	.iconMore{
		background: svg-load('img/material/more_horiz_24dp_FILL1_wght400_GRAD0_opsz24.svg', fill: $normalLink);
	}
	.accessory{
		flex: none;
		margin-left: 16px;
	}
	.avatarPile{
		display: flex;
		.ava:not(:last-child){
			margin-right: -10px;
		}
		.ava:nth-child(2){
			transform: rotate(3deg);
		}
		.ava:nth-child(3){
			transform: rotate(6deg);
		}
		.ava{
			box-shadow: 0 0 0 2px #fff;
			position: relative;
			border-radius: 2px;
		}
	}
}

.profileHeader{
	display: flex;
	margin: 8px 8px 16px;
	align-items: center;
	.profileHeaderAva{
		width: 100px;
		flex: none;
	}
	.profileHeaderAva:first-child{
		margin-right: 16px;
	}
	.profileHeaderAva:last-child{
		margin-left: 16px;
	}
	.profileNameW{
		flex-grow: 1;
	}
	.profileName{
		font-size: 20px;
	}
	.profilePresence{
		margin-top: 8px;
		color: $grayText;
		.mobileOnlineIcon{
			display: inline-block;
			width: 10px;
			height: 14px;
			vertical-align: text-top;
			background: svg-load('img/online_mobile_mobile.svg', fill: $grayText);
			margin-left: 2px;
			position: relative;
			top: 2px;
		}
	}
}

.filteredPostNotice{
	padding: 16px;
}

.feedRow>.filtered{
	display: none;
}

.postFilteredToggler{
	display: none;
	&:checked{
		&+.filteredPostNotice{
			display: none;
		}
		&+.filteredPostNotice+.post{
			display: block;
		}
	}
}

.loadMoreComments{
	margin-top: 4px;
	background: $blockBackground;
	height: 42px;
	padding: 0 16px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notificationsWrap{
	padding-top: 8px;
}

.notificationsRow{
	padding: 0 8px 8px;
	margin-bottom: 8px;
	border-bottom: solid 1px $wallPostSeparator;
	.postAva{
		float: left;
	}
	.post{
		margin-left: 48px;
		padding: 0;
		.postContentWrap{
			margin: 0;
		}
		.postContent{
			padding: 6px 0;
		}
		.postAttachments{
			margin: 0 0 6px;
		}
	}
	.postInfo, .postLink{
		color: $grayText;
	}
	.notificationExtraImage{
		display: block;
		float: right;
		margin-left: 16px;
		max-height: 50px;
		overflow: hidden;
		img{
			display: block;
			max-width: 50px;
			object-fit: contain;
			object-position: top right;
		}
	}
}

.notificationWithAvatars{
	padding-bottom: 12px;
	display: flex;
	.iconW{
		width: 42px;
		margin-right: 6px;
		padding-top: 4px;
		flex: none;
		.icon{
			width: 15px;
			height: 16px;
			float: right;
			background: svg-load('img/feedback_iconset.svg', fill: $auxiliaryBlockHeader);
		}
	}
	&.notificationLike .iconW .icon{
		background-position: 0 -16px;
	}
	&.notificationRepost .iconW .icon, &.notificationRetoot .iconW .icon{
		background-position: 0 -32px;
	}
	&.notificationInviteSignup .iconW .icon{
		background-position: 0 -48px;
	}
	.notificationContent{
		flex-grow: 1;
	}
	.names{
		padding-top: 2px;
		a{
			font-weight: bold;
		}
	}
	.avatars{
		margin: 9px 0 7px;
		display: flex;
		>*{
			flex: none;
			margin-right: 6px;
		}
	}
}

.notificationsSeen{
	background: $blockUnderboxBackground;
	text-align: center;
	padding: 6px;
	color: $auxiliaryGrey;
	margin: -9px 0 8px;
	.icon{
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		width: 20px;
		margin: -6px 0 -6px 3px;
		position: relative;
		top: -1px;
		background: svg-load('img/material/arrow_downward_20dp_FILL0_wght400_GRAD0_opsz20.svg', fill: #bfbfbf) center no-repeat;
	}
}

.pageFooter{
	padding: 16px 8px;
	font-size: 12px;
	color: $grayText;
	a{
		color: $grayText;
		font-weight: $mediumWeight;
	}
}

.footerNav{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
	line-height: 150%;
	a:not(:last-child)::after{
		display: inline-block;
		content: "·";
		padding: 0 4px;
	}
}

.languageChooserList{
	line-height: 200%;
	margin: 0 24px;
}

.bottomSummaryWrap{
	border-top: solid 1px $wallPostSeparator;
	padding: 16px;
	text-align: center;
}

.simpleLayerContent{
	padding: 16px;
}

.pvTagDelete{
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 2px;
	vertical-align: middle;
	background: svg-load('img/tag_remove.svg') center no-repeat;
}

.oneLineForm{
	>*{
		width: 100%;
	}
	input[type=text]{
		margin-bottom: 8px;
	}
}

.twoColumnForm{
	input{
		width: 100%;
		margin-top: 8px;
	}
	label{
		display: block;
		margin: 12px 0;
	}
}

@media (min-width: 500px){
	.oneLineForm{
		display: flex;
		>*{
			width: auto;
		}
		input[type=text]{
			flex-grow: 1;
			margin-right: 8px;
			margin-botom: 0;
		}
		input[type=submit], input[type=button]{
			flex: none;
		}
	}
}

#headerDropdownToggler{
	display: none;
	&:checked+.title.withDropdown .titleDropdownW{
		visibility: visible;
		.titleDropdown{
			opacity: 1;
			height: auto;
			transition: opacity 0.2s ease-out, height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
			li{
				transform: translateY(0);
				opacity: 1;
				transition: transform 0.2s ease, opacity 0.2s ease;
				transition-delay: calc(0.015s * var(--i));
			}
		}
	}
}

.titleDropdownW{
	visibility: hidden;
	transition: visibility 0.2s;
	.closer{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.titleDropdown{
		position: fixed;
		left: 64px;
		top: 0;
		margin: 16px 0;
		padding: 0;
		background: $bg;
		border-radius: 4px;
		list-style-type: none;
		overflow-y: auto;
		max-height: calc(100% - 32px);
		max-width: calc(100% - 80px);
		interpolate-size: allow-keywords;
		opacity: 0;
		height: 0;
		transition: opacity 0.2s ease-out, height 0.2s step-end;
		box-shadow:
			0 0 0 1px rgba(0,0,0,0.08),
			0 0.2px 0.2px rgba(0, 0, 0, 0.02),
			0 0.4px 0.4px rgba(0, 0, 0, 0.028),
			0 0.8px 0.8px rgba(0, 0, 0, 0.035),
			0 1.3px 1.3px rgba(0, 0, 0, 0.042),
			0 2.5px 2.5px rgba(0, 0, 0, 0.05),
			0 6px 6px rgba(0, 0, 0, 0.07);
		scrollbar-width: none;
		&::-webkit-scrollbar{
			display: none;
		}
		li{
			transform: translateY(-16px);
			opacity: 0;
			transition: transform 0.2s step-end, opacity 0.2s step-end;
			&.separator{
				margin: 8px 0;
				border-bottom: solid 1px $wallPostSeparator;
			}
			a{
				height: 48px;
				line-height: 48px;
				padding: 0 16px;
				text-overflow: ellipsis;
				overflow-x: hidden;
				white-space: nowrap;
				&.selected{
					color: $normalLink;
				}
			}
		}
	}
}

.avaListPlaceholder{
	vertical-align: top;
	margin: 0;
	background-color: #fff;
	background-image: svg-load("img/friend_list_icons.svg");
	background-repeat: no-repeat;
	box-shadow: 0 0 0 1px inset;
	border-radius: 2px;
	&.l0{
		background-color: #F5E9E2;
		color: #8B4C2320;
		background-position: 0 0;
	}
	&.l1{
		background-color: #FAEAD8;
		color: #764F1420;
		background-position: 0 -32px;
	}
	&.l2{
		background-color: #FAF3D8;
		color: #81794520;
		background-position: 0 -64px;
	}
	&.l3{
		background-color: #E8F2DC;
		color: #37702A20;
		background-position: 0 -96px;
	}
	&.l4{
		background-color: #E0ECEA;
		color: #4C717120;
		background-position: 0 -128px;
	}
	&.l5{
		background-color: #E4EBF1;
		color: #0B558820;
		background-position: 0 -160px;
	}
	&.l6{
		background-color: #E4E7F2;
		color: #2F54AA20;
		background-position: 0 -192px;
	}
	&.l7{
		background-color: #EDE5F0;
		color: #80478F20;
		background-position: 0 -224px;
	}
}

.boardTopicRow{
	padding: 12px;
	.topLink{
		display: block;
		padding: 4px 4px 8px;
		border-bottom: solid 1px $wallPostSeparator;
	}
	.lastLink{
		display: block;
		padding: 8px 4px 4px;
		.ava{
			float: left;
			margin-right: 8px;
		}
		.name{
			margin-top: 3px;
		}
	}
}

.boardTopicHeader{
	padding: 12px;
	border-bottom: solid 1px $wallPostSeparator;
	.title{
		font-weight: $mediumWeight;
		font-size: 16px;
		margin-bottom: 6px;
	}
}

.pseudoPostWithoutActions{
	.postContentWrap{
		padding-bottom: 12px;
	}
	.feedIcon{
		margin-right: 6px;
	}
}

ol.largeNumbers{
	list-style-type: none;
	padding-left: 44px;
	margin: 16px 0;
	li{
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.number{
		float: left;
		display: block;
		width: 32px;
		line-height: 32px;
		background: $blockBackground;
		margin: -7px 0 0 -44px;
		font-weight: bold;
		text-align: center;
		color: $boldHeaders;
		white-space: nowrap;
		overflow: hidden;
	}
}

.singleColumn ol.largeNumbers:last-child{
	margin-bottom: 0;
}

