{%extends "page"%}
{%block content%}
<center>
	<p class="externalInteractionText" style="margin-top: 0;">{{error}}</p>
	<a href="{{back}}" class="button" id="button">{{L("go_back")}}</a>
	<script>
		if(window.opener){
			var btn=document.getElementById("button");
			btn.innerHTML="{{L('close_this_window')}}";
		}
		btn.onclick=function(ev){
			ev.preventDefault();
			if(window.opener)
				window.close();
			else
				history.back(1);
		};
	</script>
</center>
{%endblock%}